﻿@model NewTicketModel

@{
    ViewData["Title"] = $"{@Localizer["Add a ticket to"].Value} {@Model.Session.Record.Name}";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li><a href="@Url.Action("browse", "home")" class="text-capitalize">@Localizer["browse events"]</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Session.Record.Category.Event.Name })" class="text-capitalize">@Model.Session.Record.Category.Event.Name</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Session.Record.Category.Event.Name, categoryName = Model.Session.Record.Category.Name })" class="text-capitalize">@Model.Session.Record.Category.Name</a></li>
    <li><a href="@Url.Action("item", "home", new { recordId = Model.Session.RecordId })" class="text-capitalize">@Model.Session.Record.Name</a></li>
    <li><a href="@Url.Action("alltickets", "home", new { sessionId = Model.Session.Id })" class="text-capitalize">@Model.Session.Date</a></li>
    <li class="active text-capitalize">@Localizer["add ticket"]</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="tickets_list">
                <table class="table table-striped">
                    <tr>
                        <th class="text-capitalize">@Localizer["city"]</th>
                        <th class="text-capitalize">@Localizer["venue"]</th>
                        <th class="text-capitalize">@Localizer["date"]</th>
                    </tr>
                    <tr>
                        <td class="text-capitalize">@Model.Session.Venue.City.Name</td>
                        <td class="text-capitalize">@Model.Session.Venue.Address</td>
                        <td class="text-capitalize">
                            @Html.Partial("_GenerationDate", Model.Session.Date)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                <div class="news_item">
                    <div class="news_img_block">
                        <img src="~/images/Posters/@Model.Session.Poster" alt="poster">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <h3 class="text-capitalize">@Model.Session.Record.Name</h3>
                <form asp-controller="Ticket" asp-action="Create" method="post" asp-antiforgery="true">

                    <input type="hidden" asp-for="SessionId" />

                    <div class="form-group">
                        <h4 class="text-capitalize"><label asp-for="Description"></label></h4>
                        <input type="text" class="form-control" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h4 class="text-capitalize">
                            <label asp-for="Price"></label>
                            &nbsp;<i class="fa fa-usd" aria-hidden="true"></i>
                        </h4>
                        <input type="number" class="form-control" asp-for="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default my_btn text-capitalize">@Localizer["submit"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>