﻿@model UpdateCityModel

@{
    ViewData["Title"] = @Localizer["city editing"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li><a href="@Url.Action("listcities", "city")" class="text-capitalize">@Localizer["list of cities"]</a></li>
    <li class="active text-capitalize">@Localizer["city editing"]</li>
</ol>

<section class="addrecord_s">
    <div class="container">
        <div class="row">
            <h4 class="text-center text-capitalize">@Localizer["city editing"]</h4>
        </div>
        <div class="row">
            <form asp-controller="City" asp-action="EditCity" method="post" asp-antiforgery="true">
                <input type="hidden" asp-for="Id" />

                <div class="col-md-12">
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Name"></label></h5>
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default my_btn text-capitalize">@Localizer["save"]</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/city.js" asp-append-version="true"></script>
}