﻿@model IPagedList<City>

@{
    ViewData["Title"] = @Localizer["list of cities"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li class="active text-capitalize">@Localizer["list of cities"]</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Nav")
            </div>
            <div class="col-md-10">
                <h4 class="text-capitalize">@Localizer["tickets"]</h4>
                <div class="tickets_list">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-capitalize">@Localizer["name"]</th>
                            <th class="text-capitalize"><a href="@Url.Action("addcity", "city")" class="ref_nav text-capitalize">@Localizer["add city"]</a></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-capitalize">@item.Name</td>
                                <td class="text-capitalize">
                                    <a href="@Url.Action("listvenues", "venue", new { cityId = item.Id })" class="text-capitalize">@Localizer["list of venues"]</a>
                                    <a href="@Url.Action("editcity", "city", new { cityId = item.Id })" class="text-capitalize">@Localizer["edit"]</a>
                                    <a href="@Url.Action("removecity", "city", new { cityId = item.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize">@Localizer["delete"]</a>
                                </td>
                            </tr>
                        }
                    </table>

                    <div class="pagination_s"><pager source="Model" /></div>
                </div>
            </div>
        </div>
    </div>
</section>