﻿@model LoginViewModel

@{
    ViewData["Title"] = Localizer["login"];
}

<section class="account_s">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-10 col-sm-offset-1 col-sm-11">
                <h1 class="text-capitalize">@Localizer["sign in"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-sm-offset-1 col-sm-5">
                <div class="sign_in_block">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken();

                        <h2 class="text-capitalize">@Localizer["registered customers"]</h2>
                        @Html.ValidationSummary(true);
                        <div class="form-group">
                            @Html.LabelFor(m => m.Login)
                            @Html.EditorFor(m => m.Login, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.Login)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.Password)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.RememberMe)
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default text-capitalize">@Localizer["log in"]</button>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
                <h2 class="text-capitalize">@Localizer["create an account"]</h2>
                <a href="@Url.Action("register", "account")" class="ref_btn text-capitalize">@Localizer["create an account"]</a>
            </div>
        </div>
    </div>
</section>