﻿@model RegisterViewModel
@{
    ViewData["Title"] = "register";
}

<section class="account_s">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-sm-offset-2">
                <div class="sign_in_block">
                    <h1>Create an account</h1>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary(true);

                        <div class="form-group">
                            @Html.LabelFor(m => m.Login)
                            @Html.EditorFor(m => m.Login, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.Login)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.FirstName)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.LastName)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.EditorFor(m => m.Email, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.Email)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.Password)</div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <div>@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default my_btn text-capitalize">Submit</button>
                        </div>
                    }
                    <hr>
                    <span>You already have an account?</span> <a class="text-capitalize" href="@Url.Action("login", "account")">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</section>