//		VARIABLES
$color-black-gray: #454545;
$color-black-dark: #232323;
$color-black-dark_s: #1F1F1F;
$color-gray-light: #dddddd;
$color-gray: #778691;
$color-light-gray: #F0F0F0;
$color-dark-gray: #444d53;
$color-light: #D2D2D2;
$color-white-light: #FDFDFD;
$color-blue: #46BCFC;
$color-green-blue: #30C196;
$color-green-blue-gray: #638E81;
$color-lime: #89DF33;
$color-orange-gold: #EC943C;
$color-red: #F02323;
$color-red-light: #FA551E;
$color-red-pag-hover: #FFF8F8;
$color-white-red-light: #FFFAFA;
$animation-slow: all ease-in-out 0.2s;

$img-search_icon: url("../images/search-icon.png");
$img-search_icon_mini: url("../images/search-icon-mini.png");

//		MIXINS
@mixin setForAllBrowsers($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	#{$property}: $value;
}

@mixin setSizeSearch($fsTS, $wTS, $hTS, $wBS, $hBS, $mrg) {
	.search_s {
		.search_block {
			.search_form {
				.search_form_controls {
					input[name="topsearch"] {
						font-size: $fsTS;
						width: $wTS;
						height: $hTS;
					}
					input[name="btn_search"] {
						width: $wBS;
						height: $hBS;
						margin: $mrg;
					}
				}
			}
		}
	}
}