@import "data.scss";

@mixin forAll() {
	header {
		nav {
			height: 0;

			.nav_h_i {
				margin: 29px 5px 0 15px;
			}
			.navbar-header {
				background-color: $color-black-dark;
				border-bottom: 1px solid #fff;
				position: relative;
			}
			.menu_btn {
				height: 40px;
				width: 40px;
				background-color: $color-red-light;
				@include setForAllBrowsers(border-radius, 50%);
				span {
					color: #fff;
				}
			}
			.menu {
				li {
					display: block;
					text-align: center;
					width: 100%;

					&:after {
						content: "";
						position: none;
						left: 0;
						bottom: 0;
						height: 0;
						width: 0;
						border-right: none;
					}
					&:hover {
						background-color: #000;

						&:after {
							content: "";
							position: absolute;
							left: 99%;
							bottom: 17%;
							height: 65%;
							width: 1px;
							border-right: 1px solid $color-red-light;
						}
					}
				}
			}
			.account_block_a {
				margin-top: 5px;
				float: left;

				.dropdown {
					margin: 19px 0 0 15px;

					> i {
						color: $color-red-light;
					}
				}

				.user_block {
					width: 100%;
					font-size: 12px;
					padding: 5px 0;

					a {
						background-color: #fff;
						color: $color-black-dark;
						display: block;

						&:hover {
							color: $color-red-light;
							text-decoration: none;
						}
						&:focus {
							color: $color-black-dark;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.search_s {
		margin-top: 71px;

		.browse_nav_block {
			a {
				font-size: 13px;
			}
		}
	}
	.nav-pills {
		> li {
			float: none;
		}
	}

	#browse_nav {
		display: block;

		.browse_nav_block {
			margin-bottom: 1px;
		}
	}

	.sign_in_block {
		margin-bottom: 50px;
	}

	.hot_deals_s {
		.item_ref {
			.row {
				display: block;
			}
		}
	}

	.browse_s {
		.categories_col {
			margin-top: 15px;
			margin-bottom: 30px;

			.categories_block {
				font-size: 11px;
			}
		}
	}

	.item_s {
		.tickets_list {
			margin-top: 10px;

			table {
				font-size: 12px;

				a {
					padding: 1px 7px;
				}
			}
		}
	}

	.item_up {
		padding: 1px 7px;
	}

	footer {
		padding-top: 25px;
		margin: 0 15px 0 15px;
	}
}

@media only screen and (max-width : 1170px) {
}

@media only screen and (max-width : 970px) {
	.sign_in_block {
		margin-bottom: 50px;
	}
	footer {
		padding-top: 25px;
		margin: 0 15px 0 15px;
	}
}

@media only screen and (max-width : 750px) {
	@include forAll();
	@include setSizeSearch(15px, 400px, 40px, 30px, 30px, 4px 0 0 10px);
}

@media only screen and (max-width : 480px) {
	@include forAll();
	@include setSizeSearch(13px, 300px, 30px, 25px, 25px, 3px 0 0 10px);
}