@media only screen and (max-width: 970px) {
  .sign_in_block {
    margin-bottom: 50px;
  }

  footer {
    padding-top: 25px;
    margin: 0 15px 0 15px;
  }
}
@media only screen and (max-width: 750px) {
  header nav {
    height: 0;
  }
  header nav .nav_h_i {
    margin: 29px 5px 0 15px;
  }
  header nav .navbar-header {
    background-color: #232323;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  header nav .menu_btn {
    height: 40px;
    width: 40px;
    background-color: #FA551E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  header nav .menu_btn span {
    color: #fff;
  }
  header nav .menu li {
    display: block;
    text-align: center;
    width: 100%;
  }
  header nav .menu li:after {
    content: "";
    position: none;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-right: none;
  }
  header nav .menu li:hover {
    background-color: #000;
  }
  header nav .menu li:hover:after {
    content: "";
    position: absolute;
    left: 99%;
    bottom: 17%;
    height: 65%;
    width: 1px;
    border-right: 1px solid #FA551E;
  }
  header nav .account_block_a {
    margin-top: 5px;
    float: left;
  }
  header nav .account_block_a .dropdown {
    margin: 19px 0 0 15px;
  }
  header nav .account_block_a .dropdown > i {
    color: #FA551E;
  }
  header nav .account_block_a .user_block {
    width: 100%;
    font-size: 12px;
    padding: 5px 0;
  }
  header nav .account_block_a .user_block a {
    background-color: #fff;
    color: #232323;
    display: block;
  }
  header nav .account_block_a .user_block a:hover {
    color: #FA551E;
    text-decoration: none;
  }
  header nav .account_block_a .user_block a:focus {
    color: #232323;
    text-decoration: none;
  }

  .search_s {
    margin-top: 71px;
  }
  .search_s .browse_nav_block a {
    font-size: 13px;
  }

  .nav-pills > li {
    float: none;
  }

  #browse_nav {
    display: block;
  }
  #browse_nav .browse_nav_block {
    margin-bottom: 1px;
  }

  .sign_in_block {
    margin-bottom: 50px;
  }

  .hot_deals_s .item_ref .row {
    display: block;
  }

  .browse_s .categories_col {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .browse_s .categories_col .categories_block {
    font-size: 11px;
  }

  .item_s .tickets_list {
    margin-top: 10px;
  }
  .item_s .tickets_list table {
    font-size: 12px;
  }
  .item_s .tickets_list table a {
    padding: 1px 7px;
  }

  .item_up {
    padding: 1px 7px;
  }

  footer {
    padding-top: 25px;
    margin: 0 15px 0 15px;
  }

  .search_s .search_block .search_form .search_form_controls input[name="topsearch"] {
    font-size: 15px;
    width: 400px;
    height: 40px;
  }
  .search_s .search_block .search_form .search_form_controls input[name="btn_search"] {
    width: 30px;
    height: 30px;
    margin: 4px 0 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  header nav {
    height: 0;
  }
  header nav .nav_h_i {
    margin: 29px 5px 0 15px;
  }
  header nav .navbar-header {
    background-color: #232323;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  header nav .menu_btn {
    height: 40px;
    width: 40px;
    background-color: #FA551E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  header nav .menu_btn span {
    color: #fff;
  }
  header nav .menu li {
    display: block;
    text-align: center;
    width: 100%;
  }
  header nav .menu li:after {
    content: "";
    position: none;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-right: none;
  }
  header nav .menu li:hover {
    background-color: #000;
  }
  header nav .menu li:hover:after {
    content: "";
    position: absolute;
    left: 99%;
    bottom: 17%;
    height: 65%;
    width: 1px;
    border-right: 1px solid #FA551E;
  }
  header nav .account_block_a {
    margin-top: 5px;
    float: left;
  }
  header nav .account_block_a .dropdown {
    margin: 19px 0 0 15px;
  }
  header nav .account_block_a .dropdown > i {
    color: #FA551E;
  }
  header nav .account_block_a .user_block {
    width: 100%;
    font-size: 12px;
    padding: 5px 0;
  }
  header nav .account_block_a .user_block a {
    background-color: #fff;
    color: #232323;
    display: block;
  }
  header nav .account_block_a .user_block a:hover {
    color: #FA551E;
    text-decoration: none;
  }
  header nav .account_block_a .user_block a:focus {
    color: #232323;
    text-decoration: none;
  }

  .search_s {
    margin-top: 71px;
  }
  .search_s .browse_nav_block a {
    font-size: 13px;
  }

  .nav-pills > li {
    float: none;
  }

  #browse_nav {
    display: block;
  }
  #browse_nav .browse_nav_block {
    margin-bottom: 1px;
  }

  .sign_in_block {
    margin-bottom: 50px;
  }

  .hot_deals_s .item_ref .row {
    display: block;
  }

  .browse_s .categories_col {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .browse_s .categories_col .categories_block {
    font-size: 11px;
  }

  .item_s .tickets_list {
    margin-top: 10px;
  }
  .item_s .tickets_list table {
    font-size: 12px;
  }
  .item_s .tickets_list table a {
    padding: 1px 7px;
  }

  .item_up {
    padding: 1px 7px;
  }

  footer {
    padding-top: 25px;
    margin: 0 15px 0 15px;
  }

  .search_s .search_block .search_form .search_form_controls input[name="topsearch"] {
    font-size: 13px;
    width: 300px;
    height: 30px;
  }
  .search_s .search_block .search_form .search_form_controls input[name="btn_search"] {
    width: 25px;
    height: 25px;
    margin: 3px 0 0 10px;
  }
}

/*# sourceMappingURL=media.css.map */
