@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  color: #454545;
  margin: 0;
  padding: 0;
  font-family: "RalewayRegular", sans-serif;
}

a {
  color: #FA551E;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
a:focus {
  color: #FA551E;
}
a:hover {
  color: #FA551E;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: white inset !important;
}

input[type="text"] {
  padding-left: 15px;
}

.btn {
  text-transform: uppercase;
  padding: 3px 25px;
  box-shadow: none;
  border: 1px solid #FA551E;
  background-color: #FA551E;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn:hover {
  background-color: #fff;
  color: #FA551E;
  border: 1px solid #FA551E;
}

.ref_btn {
  text-transform: uppercase;
  padding: 3px 25px;
  box-shadow: none;
  border: 1px solid #FA551E;
  background-color: #FA551E;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
}
.ref_btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #FA551E;
  border: 1px solid #FA551E;
}

.custom_select {
  height: 23px;
  font-size: 12px;
  border: 1px solid #FA551E;
  background-color: #fff;
  padding-left: 5px;
  width: 150px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.custom_select:focus {
  outline: none;
}

input[type="checkbox"] {
  border: 1px solid #FA551E;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 15px;
  height: 15px;
}
input[type="checkbox"]:after {
  margin: 0;
  padding: 0;
  border: none;
  width: 13px;
  height: 13px;
}
input[type="checkbox"]:focus {
  border: 1px solid #FA551E;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FA551E;
  background-color: inherit;
}
input[type="checkbox"]:checked {
  background-color: #FA551E;
  color: #fff;
}
input[type="checkbox"]:checked:after {
  background-color: #FA551E;
}
input[type="checkbox"]:checked:before {
  background-color: #FA551E;
  height: 9px;
  width: 7px;
  left: 3px;
}

input[type="radio"]:before {
  border: 1px solid #FA551E;
  background-color: #FA551E;
}
input[type="radio"]:after {
  border: 1px solid #FA551E;
}
input[type="radio"]:checked:after {
  border: 1px solid #FA551E;
}

.validation-summary-errors {
  font-size: 14px;
}
.validation-summary-errors ul li {
  color: #F02323;
}

.field-validation-error {
  font-size: 13px;
  color: #F02323;
}

.input-validation-error {
  font-size: 13px;
  color: #F02323;
}

header nav {
  padding-bottom: 5px;
  background-color: #fff;
  width: 100%;
}
header nav .row {
  background-color: #232323;
}
header nav .nav_h_i {
  margin: 20px 5px 0 15px;
  color: #fff;
}
header nav .nav_h_a {
  color: #fff;
}
header nav .nav_h_a:hover {
  text-decoration: none;
  color: #FA551E;
}
header nav .logo_block {
  width: 150px;
  height: 90px;
  float: left;
  color: #ccc;
  background-color: #fff;
  padding: 21px 10px 0 30px;
}
header nav .logo_block a {
  padding: 0 5px;
  display: block;
  text-align: center;
  color: #232323;
}
header nav .logo_block a:hover {
  text-decoration: none;
}
header nav .logo_block a:hover span {
  color: #FA551E;
}
header nav .logo_block:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 95%;
  border-left: 25px solid #232323;
}
header nav .menu li {
  height: 90px;
  background: #232323;
  float: left;
  position: relative;
  z-index: 1;
}
header nav .menu li a {
  text-transform: uppercase;
  padding: 0 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 100%;
  color: #fff;
  line-height: 90px;
}
header nav .menu li:after {
  content: "";
  position: absolute;
  left: 99%;
  bottom: 17%;
  height: 65%;
  width: 1px;
  border-right: 1px solid #000;
}
header nav .menu li:hover {
  background-color: #000;
}
header nav .menu .account_block_guest {
  font-size: 13px;
  float: right;
  width: 130px;
  height: 0;
}
header nav .menu .account_block_guest i {
  float: left;
  margin: 37px 0 0 5px;
  color: #fff;
}
header nav .menu .account_block_guest a {
  text-transform: capitalize;
}
header nav .menu .account_block_guest a:hover {
  color: #FA551E;
}
header nav .menu .account_block_guest:after {
  content: "";
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-right: none;
}
header nav .account_block_a {
  float: right;
  width: 130px;
}
header nav .account_block_a .dropdown {
  margin-top: 24px;
}
header nav .account_block_a .dropdown > i {
  margin: 5px 7px 0 5px;
  float: left;
  color: #FA551E;
}
header nav .account_block_a .dropdown > a {
  font-size: 13px;
  color: #fff;
}
header nav .account_block_a .dropdown > a:hover {
  text-decoration: none;
  color: #FA551E;
}
header nav .account_block_a .dropdown > a:focus {
  text-decoration: none;
}
header nav .account_block_a .dropdown .user_list {
  border: 1px solid #232323;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
header nav .account_block_a .dropdown .user_list .user_block {
  width: 100%;
  font-size: 13px;
}
header nav .account_block_a .dropdown .user_list .user_block .user_name_block {
  margin-left: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
header nav .account_block_a .dropdown .user_list .user_block .user_name_block span {
  color: #EC943C;
}
header nav .account_block_a .dropdown .user_list .user_block a {
  background-color: #fff;
  color: #232323;
  display: block;
  padding: 3px 20px;
}
header nav .account_block_a .dropdown .user_list .user_block a:hover {
  color: #FA551E;
  text-decoration: none;
}
header nav .account_block_a .dropdown .user_list .user_block a:focus {
  color: #232323;
  text-decoration: none;
}
header nav .account_block_a .dropdown .user_list .user_block a span {
  color: #F02323;
}

.search_s {
  margin-top: 95px;
}
.search_s .browse_nav_block {
  background-color: #FA551E;
  padding: 5px;
  margin-bottom: 5px;
}
.search_s .browse_nav_block a {
  text-transform: uppercase;
  margin-left: 35px;
  font-size: 14px;
}
.search_s .browse_nav_block a b {
  color: #fff;
}
.search_s .browse_nav_block a b:hover {
  text-decoration: underline;
}
.search_s .search_block {
  position: relative;
}
.search_s .search_block .search_form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
}
.search_s .search_block .search_form .search_form_controls {
  text-align: center;
  padding: 0;
  margin: auto;
}
.search_s .search_block .search_form .search_form_controls input[name="topsearch"] {
  font-size: 20px;
  width: 500px;
  height: 50px;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.search_s .search_block .search_form .search_form_controls input[name="btn_search"] {
  width: 40px;
  height: 40px;
  background: url("../images/search-icon.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border: none;
  float: right;
  margin: 5px 0 0 10px;
}

.tabs_s > h1 {
  text-align: center;
}
.tabs_s .tabs_nav {
  width: 62%;
  display: inline-block;
}
.tabs_s .tabs_nav .tab_btn_active {
  text-transform: uppercase;
  font-size: 17px;
  min-width: 150px;
  text-align: center;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 15px 15px 5px 15px;
}
.tabs_s .tabs_nav .tab_btn_active > a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #FA551E;
  color: #FA551E;
}
.tabs_s .tabs_nav .tab_btn_active > a:hover {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #FA551E;
  color: #fff;
  border: 1px solid #FA551E;
}
.tabs_s .tabs_nav .tab_btn {
  text-transform: uppercase;
  font-size: 17px;
  min-width: 150px;
  text-align: center;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin: 15px 15px 5px 15px;
}
.tabs_s .tabs_nav .tab_btn > a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #FA551E;
  color: #FA551E;
}
.tabs_s .tabs_nav .tab_btn > a:hover {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #FA551E;
  color: #fff;
}
.tabs_s .tabs_nav .nav > li {
  padding: 0;
}
.tabs_s .tabs_nav .nav-pills > .active > a,
.tabs_s .tabs_nav .nav-pills > .active .nav-pills > .active > a:hover {
  background-color: #FA551E;
  display: inline-block;
  width: 100%;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.tabs_s .tabs_nav .nav-pills > .active > a:hover,
.tabs_s .tabs_nav .nav-pills > .active .nav-pills > .active > a:hover:hover {
  background-color: #fff;
  color: #FA551E;
}
.tabs_s .tabs_nav .nav-pills > .active > a:focus,
.tabs_s .tabs_nav .nav-pills > .active .nav-pills > .active > a:hover:focus {
  background-color: #FA551E;
  color: #fff;
}

.hot_deals_s {
  margin-top: 30px;
}
.hot_deals_s .item_ref .row {
  display: inline-block;
}
.hot_deals_s .item_ref .news_item {
  display: inline-block;
  color: #454545;
  width: 200px;
  max-height: 240px;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.hot_deals_s .item_ref .news_item .news_img_block {
  max-height: 240px;
}
.hot_deals_s .item_ref .news_item .news_img_block > img {
  width: 100%;
}
.hot_deals_s .item_ref .news_disc {
  margin-top: -6px;
  margin-bottom: 35px;
  display: inline-block;
  width: 200px;
  overflow: hidden;
  background-color: #FCFCFC;
  padding: 3px;
}
.hot_deals_s .item_ref .news_disc .news_name {
  line-height: 20px;
  text-align: center;
  font-size: 15px;
}
.hot_deals_s .item_ref .news_disc .news_name span {
  color: #000;
}
.hot_deals_s .item_ref .news_disc .news_price span {
  line-height: 15px;
  float: right;
  font-size: 12px;
  color: #FA551E;
}

.account_s h1 {
  margin-left: 0;
  font-size: 23px;
}
.account_s h2 {
  font-size: 17px;
}
.account_s .sign_in_block form {
  margin-top: 30px;
}

.breadcrumb {
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 0;
  font-size: 14px;
}
.breadcrumb a:hover {
  cursor: pointer;
}
.breadcrumb .active {
  color: #232323;
}

.browse_s {
  margin-top: 5px;
}
.browse_s .filter_col {
  background-color: #1F1F1F;
  margin-top: 23px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  box-shadow: 2px 2px 9px -3px black;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.browse_s .filter_col:hover {
  box-shadow: 3px 3px 14px -4px black;
}
.browse_s .filter_col .filter_block {
  width: 100%;
  padding: 10px 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.browse_s .filter_col .filter_block h6 {
  color: #FA551E;
}
.browse_s .filter_col .filter_block input[type="text"] {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 20px;
  width: 100%;
  font-size: 12px;
}
.browse_s .filter_col .filter_block input[type="checkbox"] {
  float: left;
  display: block;
  margin-right: 7px;
}
.browse_s .filter_col .filter_block input[type="datetime-local"] {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 0;
  padding-left: 5px;
  height: 20px;
  width: 100%;
  font-size: 12px;
}
.browse_s .filter_col .filter_block .ajax-loading {
  width: 45px;
}
.browse_s .filter_col .filter_block .filter_ref {
  margin-bottom: 5px;
  margin-left: 5px;
  display: block;
}
.browse_s .filter_col .filter_block .filter_ref span {
  color: #fff;
}
.browse_s .filter_col .filter_block .filter_ref b {
  padding-top: 3px;
  font-size: 10px;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
}
.browse_s .categories_col {
  background-color: #232323;
  margin: 10px 0;
  padding-bottom: 20px;
}
.browse_s .categories_col h4 {
  margin-left: 5px;
  color: #FA551E;
  text-transform: uppercase;
}
.browse_s .categories_col .categories_ref {
  margin-left: 10px;
  display: block;
}
.browse_s .categories_col .categories_ref a b {
  color: #fff;
}

.pagination_s .pagination {
  margin-bottom: 0;
}
.pagination_s .pagination span {
  line-height: 15px;
  padding: 5px 10px;
}
.pagination_s .pagination a {
  color: #FA551E;
  line-height: 15px;
  padding: 5px 10px;
}
.pagination_s .pagination a:hover {
  background-color: #FFF8F8;
  color: #FA551E;
}
.pagination_s .pagination a:focus {
  color: #FA551E;
}
.pagination_s .pagination .active span {
  background-color: #FA551E;
  border: 1px solid #FA551E;
}

.pagination > .active > a {
  background-color: #FA551E;
  color: #fff;
  border: 1px solid #FA551E;
}
.pagination > .active > a:hover,
.pagination > .active > a :focus,
.pagination > .active > a :active,
.pagination > .active > a :visited {
  background-color: #FA551E;
  color: #fff;
  border: 1px solid #FA551E;
}
.pagination > .active > a:hover:hover,
.pagination > .active > a:hover :focus,
.pagination > .active > a:hover :active,
.pagination > .active > a:hover :visited,
.pagination > .active > a :focus:hover,
.pagination > .active > a :focus :focus,
.pagination > .active > a :focus :active,
.pagination > .active > a :focus :visited,
.pagination > .active > a :active:hover,
.pagination > .active > a :active :focus,
.pagination > .active > a :active :active,
.pagination > .active > a :active :visited,
.pagination > .active > a :visited:hover,
.pagination > .active > a :visited :focus,
.pagination > .active > a :visited :active,
.pagination > .active > a :visited :visited {
  background-color: #FA551E;
  color: #fff;
  border: 1px solid #FA551E;
}

.item_s .item_s_menu {
  padding: 5px;
  padding-bottom: 50px;
  background-color: #FDFDFD;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
  box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
}
.item_s .item_s_menu ul {
  margin-left: 5px;
}
.item_s .item_s_menu ul a {
  font-size: 14px;
}
.item_s .news_item {
  display: inline-block;
  color: #454545;
  width: 200px;
  max-height: 240px;
  overflow: hidden;
}
.item_s .news_item .news_img_block {
  max-height: 240px;
}
.item_s .news_item .news_img_block > img {
  width: 100%;
}
.item_s .tickets_list {
  background-color: #FDFDFD;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
  box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
}
.item_s .tickets_list table {
  font-size: 14px;
}
.item_s .tickets_list table th {
  border: none;
}
.item_s .tickets_list table a {
  background-color: #fff;
  padding: 1px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #FA551E;
}
.item_s .tickets_list table a:hover {
  background-color: #FA551E;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.item_s .tickets_list table .ref_list_customers {
  border: none;
  background-color: inherit;
  padding: 0 5px;
}
.item_s .tickets_list table .ref_list_customers:hover {
  color: #FA551E;
  background-color: inherit;
  text-decoration: underline;
}
.item_s .tickets_list table .ref_list_customers .bubble_list_customers {
  color: #fff;
  font-size: 12px;
  position: relative;
  padding: 1px 5px;
  background: #FA551E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.item_s .tickets_list table .ref_list_customers .bubble_list_customers:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 4px 5px 4px 0;
  border-color: transparent #FA551E;
  display: block;
  width: 0;
  z-index: 1;
  left: -4px;
  top: 4px;
}
.item_s .tickets_list table .ref_nav {
  border: 1px solid #30C196;
  color: #30C196;
}
.item_s .tickets_list table .ref_nav:hover {
  background-color: #30C196;
}
.item_s .tickets_list table .ref_close {
  border: 1px solid #454545;
  color: #454545;
}
.item_s .tickets_list table .ref_close:hover {
  background-color: #454545;
}
.item_s .tickets_list table .ref_archive {
  border: 1px solid #46BCFC;
  color: #46BCFC;
}
.item_s .tickets_list table .ref_archive:hover {
  background-color: #46BCFC;
}
.item_s .current_ticket {
  background-color: #FFFAFA;
}
.item_s .orders_list {
  margin-top: 30px;
}
.item_s .orders_list h4 {
  margin-top: 0;
  margin-bottom: 25px;
}
.item_s .form-group i {
  font-size: 17px;
  color: #30C196;
}
.item_s .record_update_block {
  margin-right: 15px;
  margin-bottom: 15px;
  float: right;
}

.tickets_list {
  position: relative;
}
.tickets_list .ajax-loading {
  position: absolute;
  left: 50%;
  top: 80%;
}
.tickets_list .news_item {
  display: inline-block;
  color: #454545;
  width: 60px;
  max-height: 100px;
  overflow: hidden;
}
.tickets_list .news_item .news_img_block {
  max-height: 100px;
}
.tickets_list .news_item .news_img_block > img {
  width: 100%;
}
.tickets_list .item_state_open {
  font-size: 20px;
  color: #89DF33;
}
.tickets_list .item_state_rejected {
  font-size: 20px;
  color: #F02323;
}
.tickets_list .item_state_expectation {
  font-size: 20px;
  color: #46BCFC;
}
.tickets_list .item_state_confirmed {
  font-size: 20px;
  color: #FA551E;
}
.tickets_list .item_state_received {
  font-size: 20px;
  color: #30C196;
}
.tickets_list .item_state_close {
  font-size: 20px;
  color: #454545;
}

.seller_comment_block p {
  color: #30C196;
}

.item_up {
  padding: 1px 15px;
  border: 1px solid #454545;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.custom_modal .modal-header h4 {
  color: #232323;
  border-bottom: 1px solid #FA551E;
  margin-bottom: 0;
}
.custom_modal form i {
  font-size: 21px;
  color: #FA551E;
  float: left;
  margin-right: 5px;
}
.custom_modal form .model_process_block {
  margin-bottom: 25px;
}
.custom_modal form .model_process_block #modal_list {
  height: 23px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #D2D2D2;
  background-color: #fff;
  padding-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.custom_modal form .model_process_block #modal_list:focus {
  outline: none;
}
.custom_modal form .model_data_block {
  margin-bottom: 25px;
}
.custom_modal form .model_data_block textarea {
  width: 100%;
  resize: none;
}
.custom_modal form .modal-body {
  padding: 0;
  margin: 0;
}
.custom_modal form input[type="submit"] {
  width: 100%;
}

.profile_block {
  background-color: #FDFDFD;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
  -moz-box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
  box-shadow: 1px 1px 5px 0px rgba(186, 186, 186, 0.3);
}
.profile_block #form_toggle {
  display: none;
}
.profile_block h4 {
  margin-bottom: 20px;
}
.profile_block p {
  font-size: 15px;
  color: #30C196;
}
.profile_block input {
  background-color: inherit;
  color: #454545;
}
.profile_block .btn {
  padding: 1px 10px;
  background-color: #30C196;
  border: 1px solid #30C196;
}
.profile_block .btn:hover {
  color: #30C196;
  background-color: #fff;
}

.addrecord_s .form-group {
  margin-bottom: 35px;
}
.addrecord_s .my_btn {
  width: 100%;
}

footer {
  padding: 50px 0 10px 0;
  margin: 0 30px 0 30px;
}
footer .footer_block {
  -webkit-border-top: 1px solid #F0F0F0;
  -moz-border-top: 1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
}
footer .footer_block h5 {
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
}
footer .footer_block h6 {
  font-size: 12px;
  margin-top: 15px;
}
footer .footer_block a {
  display: block;
  font-size: 13px;
  padding: 1px 0 1px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
footer .footer_block a:hover {
  background-color: #FA551E;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
footer .footer_block a:focus {
  text-decoration: none;
}
footer .lang_btn {
  padding: 0 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px;
  background-color: #FA551E;
  color: #fff;
  border: 1px solid #FA551E;
}
footer .lang_btn:hover {
  background-color: #fff;
  color: #FA551E;
}

.ui-menu {
  border: 1px solid #F0F0F0;
}

.ui-menu-item {
  background-color: #fff;
  padding: 4px;
}
.ui-menu-item:hover {
  cursor: pointer;
  background-color: #FA551E;
}
.ui-menu-item:hover div {
  color: #fff;
}

.ajax-loading {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #dddddd;
  -webkit-text-fill-color: #454545;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media only screen and (max-width: 970px) {
  .sign_in_block {
    margin-bottom: 50px;
  }

  footer {
    padding-top: 25px;
    margin: 0 15px 0 15px;
  }
}
@media only screen and (max-width: 750px) {
  header nav {
    height: 0;
  }
  header nav .nav_h_i {
    margin: 29px 5px 0 15px;
  }
  header nav .navbar-header {
    background-color: #232323;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  header nav .menu_btn {
    height: 40px;
    width: 40px;
    background-color: #FA551E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  header nav .menu_btn span {
    color: #fff;
  }
  header nav .menu li {
    display: block;
    text-align: center;
    width: 100%;
  }
  header nav .menu li:after {
    content: "";
    position: none;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-right: none;
  }
  header nav .menu li:hover {
    background-color: #000;
  }
  header nav .menu li:hover:after {
    content: "";
    position: absolute;
    left: 99%;
    bottom: 17%;
    height: 65%;
    width: 1px;
    border-right: 1px solid #FA551E;
  }
  header nav .account_block_a {
    margin-top: 5px;
    float: left;
  }
  header nav .account_block_a .dropdown {
    margin: 19px 0 0 15px;
  }
  header nav .account_block_a .dropdown > i {
    color: #FA551E;
  }
  header nav .account_block_a .user_block {
    width: 100%;
    font-size: 12px;
    padding: 5px 0;
  }
  header nav .account_block_a .user_block a {
    background-color: #fff;
    color: #232323;
    display: block;
  }
  header nav .account_block_a .user_block a:hover {
    color: #FA551E;
    text-decoration: none;
  }
  header nav .account_block_a .user_block a:focus {
    color: #232323;
    text-decoration: none;
  }

  .search_s {
    margin-top: 71px;
  }
  .search_s .browse_nav_block a {
    font-size: 13px;
  }

  .nav-pills > li {
    float: none;
  }

  #browse_nav {
    display: block;
  }
  #browse_nav .browse_nav_block {
    margin-bottom: 1px;
  }

  .sign_in_block {
    margin-bottom: 50px;
  }

  .hot_deals_s .item_ref .row {
    display: block;
  }

  .browse_s .categories_col {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .browse_s .categories_col .categories_block {
    font-size: 11px;
  }

  .item_s .tickets_list {
    margin-top: 10px;
  }
  .item_s .tickets_list table {
    font-size: 12px;
  }
  .item_s .tickets_list table a {
    padding: 1px 7px;
  }

  .item_up {
    padding: 1px 7px;
  }

  footer {
    padding-top: 25px;
    margin: 0 15px 0 15px;
  }

  .search_s .search_block .search_form .search_form_controls input[name="topsearch"] {
    font-size: 15px;
    width: 400px;
    height: 40px;
  }
  .search_s .search_block .search_form .search_form_controls input[name="btn_search"] {
    width: 30px;
    height: 30px;
    margin: 4px 0 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  header nav {
    height: 0;
  }
  header nav .nav_h_i {
    margin: 29px 5px 0 15px;
  }
  header nav .navbar-header {
    background-color: #232323;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  header nav .menu_btn {
    height: 40px;
    width: 40px;
    background-color: #FA551E;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  header nav .menu_btn span {
    color: #fff;
  }
  header nav .menu li {
    display: block;
    text-align: center;
    width: 100%;
  }
  header nav .menu li:after {
    content: "";
    position: none;
    left: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-right: none;
  }
  header nav .menu li:hover {
    background-color: #000;
  }
  header nav .menu li:hover:after {
    content: "";
    position: absolute;
    left: 99%;
    bottom: 17%;
    height: 65%;
    width: 1px;
    border-right: 1px solid #FA551E;
  }
  header nav .account_block_a {
    margin-top: 5px;
    float: left;
  }
  header nav .account_block_a .dropdown {
    margin: 19px 0 0 15px;
  }
  header nav .account_block_a .dropdown > i {
    color: #FA551E;
  }
  header nav .account_block_a .user_block {
    width: 100%;
    font-size: 12px;
    padding: 5px 0;
  }
  header nav .account_block_a .user_block a {
    background-color: #fff;
    color: #232323;
    display: block;
  }
  header nav .account_block_a .user_block a:hover {
    color: #FA551E;
    text-decoration: none;
  }
  header nav .account_block_a .user_block a:focus {
    color: #232323;
    text-decoration: none;
  }

  .search_s {
    margin-top: 71px;
  }
  .search_s .browse_nav_block a {
    font-size: 13px;
  }

  .nav-pills > li {
    float: none;
  }

  #browse_nav {
    display: block;
  }
  #browse_nav .browse_nav_block {
    margin-bottom: 1px;
  }

  .sign_in_block {
    margin-bottom: 50px;
  }

  .hot_deals_s .item_ref .row {
    display: block;
  }

  .browse_s .categories_col {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .browse_s .categories_col .categories_block {
    font-size: 11px;
  }

  .item_s .tickets_list {
    margin-top: 10px;
  }
  .item_s .tickets_list table {
    font-size: 12px;
  }
  .item_s .tickets_list table a {
    padding: 1px 7px;
  }

  .item_up {
    padding: 1px 7px;
  }

  footer {
    padding-top: 25px;
    margin: 0 15px 0 15px;
  }

  .search_s .search_block .search_form .search_form_controls input[name="topsearch"] {
    font-size: 13px;
    width: 300px;
    height: 30px;
  }
  .search_s .search_block .search_form .search_form_controls input[name="btn_search"] {
    width: 25px;
    height: 25px;
    margin: 3px 0 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
