//		VARIABLES and MIXINS
@import "data.scss";
//		FONTS
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

//		FOR ALL
* {
    color: $color-black-gray;
    margin: 0;
    padding: 0;
    font-family: "RalewayRegular", sans-serif;
}

a {
    color: $color-red-light;
    @include setForAllBrowsers(transition,
    none);
    &:focus {
        color: $color-red-light;
    }
    &:hover {
        color: $color-red-light;
    }
}

li {
    list-style-type: none;
}

input {
    outline: none;
}

input:-webkit-autofill {
    box-shadow: white inset !important;
}

input[type="text"] {
    padding-left: 15px;
}

.btn {
    text-transform: uppercase;
    padding: 3px 25px;
    box-shadow: none;
    border: 1px solid $color-red-light;
    background-color: $color-red-light;
    @include setForAllBrowsers(border-radius,
    30px);
    color: #fff;
    @include setForAllBrowsers(transition,
    none);
    &:hover {
        background-color: #fff;
        color: $color-red-light;
        border: 1px solid $color-red-light;
    }
}

.ref_btn {
    text-transform: uppercase;
    padding: 3px 25px;
    box-shadow: none;
    border: 1px solid $color-red-light;
    background-color: $color-red-light;
    @include setForAllBrowsers(border-radius,
    30px);
    color: #fff;
    &:hover {
        text-decoration: none;
        background-color: #fff;
        color: $color-red-light;
        border: 1px solid $color-red-light;
    }
}

.custom_select {
    height: 23px;
    font-size: 12px;
    border: 1px solid $color-red-light;
    background-color: #fff;
    padding-left: 5px;
    width: 150px;
    @include setForAllBrowsers(border-radius,
    5px);
    &:focus {
        outline: none;
    }
}

input[type="checkbox"] {
    border: 1px solid $color-red-light;
    @include setForAllBrowsers(border-radius,
    5px);
    width: 15px;
    height: 15px;
    &:after {
        margin: 0;
        padding: 0;
        border: none;
        width: 13px;
        height: 13px;
    }
    &:focus {
        border: 1px solid $color-red-light;
        @include setForAllBrowsers(border-radius,
        5px);
        color: $color-red-light;
        background-color: inherit;
    }
    &:checked {
        background-color: $color-red-light;
        color: #fff;
        &:after {
            background-color: $color-red-light;
        }
        &:before {
            background-color: $color-red-light;
            height: 9px;
            width: 7px;
            left: 3px;
        }
    }
}

input[type="radio"] {
    &:before {
        border: 1px solid $color-red-light;
        background-color: $color-red-light;
    }
    &:after {
        border: 1px solid $color-red-light;
    }
    &:checked {
        &:after {
            border: 1px solid $color-red-light;
        }
    }
}

.validation-summary-errors {
    font-size: 14px;
    ul {
        li {
            color: $color-red;
        }
    }
}

.field-validation-error {
    font-size: 13px;
    color: $color-red;
}

.input-validation-error {
    font-size: 13px;
    color: $color-red;
}

//		HEADER SECTION
header {
    nav {
        padding-bottom: 5px;
        .row {
            background-color: $color-black-dark;
        }
        background-color: #fff;
        width: 100%;
        .nav_h_i {
            margin: 20px 5px 0 15px;
            color: #fff;
        }
        .nav_h_a {
            color: #fff;
            &:hover {
                text-decoration: none;
                color: $color-red-light;
            }
        }
        .logo_block {
            width: 150px;
            height: 90px;
            float: left;
            color: #ccc;
            background-color: #fff;
            padding: 21px 10px 0 30px;
            a {
                padding: 0 5px;
                display: block;
                text-align: center;
                color: $color-black-dark;
                &:hover {
                    span {
                        color: $color-red-light;
                    }
                    text-decoration: none;
                }
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 95%;
                border-left: 25px solid $color-black-dark;
            }
        }
        .menu {
            li {
                height: 90px;
                background: $color-black-dark;
                float: left;
                position: relative;
                z-index: 1;
                a {
                    text-transform: uppercase;
                    padding: 0 15px;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    height: 100%;
                    color: #fff;
                    line-height: 90px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 99%;
                    bottom: 17%;
                    height: 65%;
                    width: 1px;
                    border-right: 1px solid #000;
                }
                &:hover {
                    background-color: #000;
                }
            }
            .account_block_guest {
                font-size: 13px;
                float: right;
                width: 130px;
                height: 0;
                i {
                    float: left;
                    margin: 37px 0 0 5px;
                    color: #fff;
                }
                a {
                    text-transform: capitalize;
                    &:hover {
                        color: $color-red-light;
                    }
                }
                &:after {
                    content: "";
                    left: 0;
                    bottom: 0;
                    height: 0;
                    width: 0;
                    border-right: none;
                }
            }
        }
        .account_block_a {
            float: right;
            width: 130px;
            .dropdown {
                margin-top: 24px;
                >i {
                    margin: 5px 7px 0 5px;
                    float: left;
                    color: $color-red-light;
                }
                >a {
                    font-size: 13px;
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                        color: $color-red-light;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
                .user_list {
                    border: 1px solid $color-black-dark;
                    @include setForAllBrowsers(border-radius,
                    0);
                    box-shadow: none;
                    .user_block {
                        width: 100%;
                        font-size: 13px;
                        .user_name_block {
                            margin-left: 5px;
                            margin-bottom: 5px;
                            overflow: hidden;
                            span {
                                color: $color-orange-gold;
                            }
                        }
                        a {
                            background-color: #fff;
                            color: $color-black-dark;
                            display: block;
                            padding: 3px 20px;
                            &:hover {
                                color: $color-red-light;
                                text-decoration: none;
                            }
                            &:focus {
                                color: $color-black-dark;
                                text-decoration: none;
                            }
                            span {
                                color: $color-red;
                            }
                        }
                    }
                }
            }
        }
    }
}

//		SEARCH SECTION
.search_s {
    margin-top: 95px;
    .browse_nav_block {
        background-color: $color-red-light;
        padding: 5px;
        margin-bottom: 5px;
        a {
            text-transform: uppercase;
            margin-left: 35px;
            font-size: 14px;
            b {
                color: #fff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .search_block {
        position: relative;
        .search_form {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include setForAllBrowsers(display,
            flex);
            .search_form_controls {
                text-align: center;
                padding: 0;
                margin: auto;
                input[name="topsearch"] {
                    font-size: 20px;
                    width: 500px;
                    height: 50px;
                    border: none;
                    @include setForAllBrowsers(border-radius,
                    30px);
                }
                input[name="btn_search"] {
                    width: 40px;
                    height: 40px;
                    background: $img-search_icon no-repeat center;
                    @include setForAllBrowsers(background-size,
                    cover);
                    border: none;
                    float: right;
                    margin: 5px 0 0 10px;
                }
            }
        }
    }
}

//		TABS SECTION
.tabs_s {
    >h1 {
        text-align: center;
    }
    .tabs_nav {
        width: 62%;
        display: inline-block;
        .tab_btn_active {
            text-transform: uppercase;
            font-size: 17px;
            min-width: 150px;
            text-align: center;
            background-color: #fff;
            border: none;
            @include setForAllBrowsers(border-radius,
            30px);
            margin: 15px 15px 5px 15px;
            >a {
                @include setForAllBrowsers(border-radius,
                30px);
                border: 1px solid $color-red-light;
                color: $color-red-light;
                &:hover {
                    @include setForAllBrowsers(border-radius,
                    30px);
                    background-color: $color-red-light;
                    color: #fff;
                    border: 1px solid $color-red-light;
                }
            }
        }
        .tab_btn {
            text-transform: uppercase;
            font-size: 17px;
            min-width: 150px;
            text-align: center;
            background-color: #fff;
            border: none;
            @include setForAllBrowsers(border-radius,
            30px);
            margin: 15px 15px 5px 15px;
            >a {
                @include setForAllBrowsers(border-radius,
                30px);
                border: 1px solid $color-red-light;
                color: $color-red-light;
                &:hover {
                    @include setForAllBrowsers(border-radius,
                    30px);
                    background-color: $color-red-light;
                    color: #fff;
                }
            }
        }
        .nav {
            >li {
                padding: 0;
            }
        }
        .nav-pills {
            >.active {
                >a,
                .nav-pills>.active>a:hover {
                    background-color: $color-red-light;
                    display: inline-block;
                    width: 100%;
                    color: #fff;
                    @include setForAllBrowsers(border-radius,
                    30px);
                    &:hover {
                        background-color: #fff;
                        color: $color-red-light;
                    }
                    &:focus {
                        background-color: $color-red-light;
                        color: #fff;
                    }
                }
            }
        }
    }
}

//		HOT DEALS SECTION
.hot_deals_s {
    .item_ref {
        .row {
            display: inline-block;
        }
        .news_item {
            display: inline-block;
            color: $color-black-gray;
            width: 200px;
            max-height: 240px;
            overflow: hidden;
            @include setForAllBrowsers(transition,
            $animation-slow);
            .news_img_block {
                max-height: 240px;
                >img {
                    width: 100%;
                }
            }
        }
        .news_disc {
            margin-top: -6px;
            margin-bottom: 35px;
            display: inline-block;
            width: 200px;
            overflow: hidden;
            background-color: #FCFCFC;
            padding: 3px;
            .news_name {
                line-height: 20px;
                text-align: center;
                font-size: 15px;
                span {
                    color: #000;
                }
            }
            .news_price {
                span {
                    line-height: 15px;
                    float: right;
                    font-size: 12px;
                    color: $color-red-light;
                }
            }
        }
    }
    margin-top: 30px;
}

//		SIGN IN SECTION
.account_s {
    h1 {
        margin-left: 0;
        font-size: 23px;
    }
    h2 {
        font-size: 17px;
    }
    .sign_in_block {
        form {
            margin-top: 30px;
        }
    }
}

//		BROWSE SECTION
.breadcrumb {
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 0;
    font-size: 14px;
    a {
        &:hover {
            cursor: pointer;
        }
    }
    .active {
        color: $color-black-dark;
    }
}

.browse_s {
    margin-top: 5px;
    .filter_col {
        background-color: $color-black-dark_s;
        margin-top: 23px;
        margin-bottom: 30px;
        padding-bottom: 15px;
        box-shadow: 2px 2px 9px -3px rgba(0, 0, 0, 1);
        @include setForAllBrowsers(transition,
        $animation-slow);
        &:hover {
            box-shadow: 3px 3px 14px -4px rgba(0, 0, 0, 1);
        }
        .filter_block {
            width: 100%;
            padding: 10px 10px;
            font-size: 12px;
            text-transform: uppercase;
            h6 {
                color: $color-red-light;
            }
            input[type="text"] {
                @include setForAllBrowsers(border-radius,
                30px);
                height: 20px;
                width: 100%;
                font-size: 12px;
            }
            input[type="checkbox"] {
                float: left;
                display: block;
                margin-right: 7px;
            }
            input[type="datetime-local"] {
                @include setForAllBrowsers(border-radius,
                30px);
                border: 0;
                padding-left: 5px;
                height: 20px;
                width: 100%;
                font-size: 12px;
            }
            .ajax-loading {
                width: 45px;
            }
            .filter_ref {
                margin-bottom: 5px;
                margin-left: 5px;
                display: block;
                span {
                    color: #fff;
                }
                b {
                    padding-top: 3px;
                    font-size: 10px;
                    display: block;
                    @include setForAllBrowsers(border-radius,
                    30px);
                    color: #fff;
                }
            }
        }
    }
    .categories_col {
        background-color: $color-black-dark;
        margin: 10px 0;
        padding-bottom: 20px;
        h4 {
            margin-left: 5px;
            color: $color-red-light;
            text-transform: uppercase;
        }
        .categories_ref {
            margin-left: 10px;
            display: block;
            a {
                b {
                    color: #fff;
                }
            }
        }
    }
}

//		PAGINATION SECTION
.pagination_s {
    .pagination {
        margin-bottom: 0;
        span {
            line-height: 15px;
            padding: 5px 10px;
        }
        a {
            color: $color-red-light;
            line-height: 15px;
            padding: 5px 10px;
            &:hover {
                background-color: $color-red-pag-hover;
                color: $color-red-light;
            }
            &:focus {
                color: $color-red-light;
            }
        }
        .active {
            span {
                background-color: $color-red-light;
                border: 1px solid $color-red-light;
            }
        }
    }
}

.pagination {
    >.active {
        >a {
            background-color: $color-red-light;
            color: #fff;
            border: 1px solid $color-red-light;
            &:hover,
             :focus,
             :active,
             :visited {
                background-color: $color-red-light;
                color: #fff;
                border: 1px solid $color-red-light;
                &:hover,
                 :focus,
                 :active,
                 :visited {
                    background-color: $color-red-light;
                    color: #fff;
                    border: 1px solid $color-red-light;
                }
            }
        }
    }
}

//		ITEM SECTION
.item_s {
    .item_s_menu {
        padding: 5px;
        padding-bottom: 50px;
        background-color: $color-white-light;
        @include setForAllBrowsers(box-shadow,
        1px 1px 5px 0px rgba(186,
        186,
        186,
        0.3));
        ul {
            margin-left: 5px;
            a {
                font-size: 14px;
            }
        }
    }
    .news_item {
        display: inline-block;
        color: $color-black-gray;
        width: 200px;
        max-height: 240px;
        overflow: hidden;
        .news_img_block {
            max-height: 240px;
            >img {
                width: 100%;
            }
        }
    }
    .tickets_list {
        background-color: $color-white-light;
        padding: 15px;
        @include setForAllBrowsers(box-shadow,
        1px 1px 5px 0px rgba(186,
        186,
        186,
        0.3));
        table {
            font-size: 14px;
            th {
                border: none;
            }
            a {
                background-color: #fff;
                padding: 1px 15px;
                @include setForAllBrowsers(border-radius,
                10px);
                border: 1px solid $color-red-light;
                &:hover {
                    background-color: $color-red-light;
                    color: #fff;
                    text-decoration: none;
                    @include setForAllBrowsers(border-radius,
                    10px);
                }
            }
            .ref_list_customers {
                border: none;
                background-color: inherit;
                padding: 0 5px;
                &:hover {
                    color: $color-red-light;
                    background-color: inherit;
                    text-decoration: underline;
                }
                .bubble_list_customers {
                    color: #fff;
                    font-size: 12px;
                    position: relative;
                    padding: 1px 5px;
                    background: $color-red-light;
                    @include setForAllBrowsers(border-radius,
                    3px);
                }
                .bubble_list_customers:after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    border-width: 4px 5px 4px 0;
                    border-color: transparent $color-red-light;
                    display: block;
                    width: 0;
                    z-index: 1;
                    left: -4px;
                    top: 4px;
                }
            }
            .ref_nav {
                border: 1px solid $color-green-blue;
                color: $color-green-blue;
                &:hover {
                    background-color: $color-green-blue;
                }
            }
            .ref_close {
                border: 1px solid $color-black-gray;
                color: $color-black-gray;
                ;
                &:hover {
                    background-color: $color-black-gray;
                }
            }
            .ref_archive {
                border: 1px solid $color-blue;
                color: $color-blue;
                &:hover {
                    background-color: $color-blue;
                }
            }
        }
    }
    .current_ticket {
        background-color: $color-white-red-light;
    }
    .orders_list {
        margin-top: 30px;
        h4 {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
    .form-group {
        i {
            font-size: 17px;
            color: $color-green-blue;
        }
    }
    .record_update_block {
        margin-right: 15px;
        margin-bottom: 15px;
        float: right;
    }
}

//		MY ORDERS
.tickets_list {
    position: relative;
    .ajax-loading {
        position: absolute;
        left: 50%;
        top: 80%;
    }
    .news_item {
        display: inline-block;
        color: $color-black-gray;
        width: 60px;
        max-height: 100px;
        overflow: hidden;
        .news_img_block {
            max-height: 100px;
            >img {
                width: 100%;
            }
        }
    }
    .item_state_open {
        font-size: 20px;
        color: $color-lime;
    }
    .item_state_rejected {
        font-size: 20px;
        color: $color-red;
    }
    .item_state_expectation {
        font-size: 20px;
        color: $color-blue;
    }
    .item_state_confirmed {
        font-size: 20px;
        color: $color-red-light;
    }
    .item_state_received {
        font-size: 20px;
        color: $color-green-blue;
    }
    .item_state_close {
        font-size: 20px;
        color: $color-black-gray;
    }
}

//		DETAILS
.seller_comment_block {
    p {
        color: $color-green-blue;
    }
}

.item_up {
    padding: 1px 15px;
    border: 1px solid $color-black-gray;
    @include setForAllBrowsers(border-radius,
    10px);
}

//		MODAL
.custom_modal {
    .modal-header {
        h4 {
            color: $color-black-dark;
            border-bottom: 1px solid $color-red-light;
            margin-bottom: 0;
        }
    }
    form {
        i {
            font-size: 21px;
            color: $color-red-light;
            float: left;
            margin-right: 5px;
        }
        .model_process_block {
            margin-bottom: 25px;
            #modal_list {
                height: 23px;
                width: 100%;
                font-size: 12px;
                border: 1px solid $color-light;
                background-color: #fff;
                padding-left: 5px;
                @include setForAllBrowsers(border-radius,
                5px);
                &:focus {
                    outline: none;
                }
            }
        }
        .model_data_block {
            margin-bottom: 25px;
            textarea {
                width: 100%;
                resize: none;
            }
        }
        .modal-body {
            padding: 0;
            margin: 0;
        }
        input[type="submit"] {
            width: 100%;
        }
    }
}

//		PROFILE
.profile_block {
    background-color: $color-white-light;
    padding: 15px;
    @include setForAllBrowsers(box-shadow,
    1px 1px 5px 0px rgba(186,
    186,
    186,
    0.3));
    #form_toggle {
        display: none;
    }
    h4 {
        margin-bottom: 20px;
    }
    p {
        font-size: 15px;
        color: $color-green-blue;
    }
    input {
        background-color: inherit;
        color: $color-black-gray;
    }
    .btn {
        padding: 1px 10px;
        background-color: $color-green-blue;
        border: 1px solid $color-green-blue;
        &:hover {
            color: $color-green-blue;
            background-color: #fff;
        }
    }
}

//		ADD RECORD
.addrecord_s {
    .form-group {
        margin-bottom: 35px;
    }
    .my_btn {
        width: 100%;
    }
}

//		FOOTER SECTION
footer {
    padding: 50px 0 10px 0;
    margin: 0 30px 0 30px;
    .footer_block {
        @include setForAllBrowsers(border-top,
        1px solid $color-light-gray);
        h5 {
            font-size: 15px;
            text-transform: uppercase;
            padding-top: 10px;
        }
        h6 {
            font-size: 12px;
            margin-top: 15px;
        }
        a {
            display: block;
            font-size: 13px;
            padding: 1px 0 1px 0;
            @include setForAllBrowsers(border-radius,
            10px);
            @include setForAllBrowsers(transition,
            none);
            &:hover {
                background-color: $color-red-light;
                color: #fff;
                @include setForAllBrowsers(border-radius,
                10px);
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
        }
    }
    .lang_btn {
        padding: 0 7px;
        @include setForAllBrowsers(border-radius,
        5px);
        font-size: 11px;
        background-color: $color-red-light;
        color: #fff;
        border: 1px solid $color-red-light;
        &:hover {
            background-color: #fff;
            color: $color-red-light;
        }
    }
}

.ui-menu {
    border: 1px solid $color-light-gray;
}

.ui-menu-item {
    background-color: #fff;
    padding: 4px;
    &:hover {
        cursor: pointer;
        background-color: $color-red-light;
        div {
            color: #fff;
        }
    }
}

.ajax-loading {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-bottom: 1px solid $color-gray-light;
    -webkit-text-fill-color: $color-black-gray;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

//		FOR ALL RESOLUTIONS
@import "media.scss";