﻿@model Order

@{
    ViewData["Title"] = Model.Ticket.Session.Record.Name;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li><a href="@Url.Action("myorders", "manage")" class="text-capitalize">@Localizer["my orders"]</a></li>
    <li><a href="@Url.Action("alltickets", "home", new { sessionId = @Model.Ticket.Session.Id })" class="text-capitalize">@Model.Ticket.Session.Date</a></li>
    <li class="active text-capitalize">@Localizer["details"]</li>
</ol>


<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="tickets_list">
                <table class="table table-striped">
                    <tr>
                        <th class="text-capitalize">@Localizer["seller"]</th>
                        <th class="text-capitalize">@Localizer["city"]</th>
                        <th class="text-capitalize">@Localizer["venue"]</th>
                        <th class="text-capitalize">@Localizer["date"]</th>
                        <th class="text-capitalize">@Localizer["state"]</th>
                        <th class="text-capitalize">@Localizer["price"]</th>
                        <th class="text-capitalize">@Localizer["tracking number"]</th>
                        <th class="text-capitalize">@Localizer["date create"]</th>
                        @if (Model.DateCompletion != null && (Model.State == OrderState.Received || Model.State == OrderState.Closed))
                        {
                            <th class="text-capitalize">@Localizer["date of completion"]</th>
                        }
                    </tr>
                    <tr>
                        <td class="text-capitalize">
                            <a href="@Url.Action("profile", "manage", new { userId = Model.Ticket.ApplicationUserId })" class="text-capitalize">@Model.Ticket.ApplicationUser.UserName</a>
                        </td>
                        <td class="text-capitalize">@Model.Ticket.Session.Venue.City.Name</td>
                        @if (String.IsNullOrEmpty(Model.Ticket.Session.Venue.Name))
                        {
                            <td class="text-capitalize">@Model.Ticket.Session.Venue.Address</td>
                        }
                        else
                        {
                            <td class="text-capitalize">@Model.Ticket.Session.Venue.Name, @Model.Ticket.Session.Venue.Address</td>
                        }
                        <td class="text-capitalize">
                            @Html.Partial("_GenerationDate", Model.Ticket.Session.Date)
                        </td>
                        <td class="text-capitalize">
                            @switch (Model.State)
                            {
                                case OrderState.Expectation:
                                    <i class="fa fa-hourglass-o item_state_expectation text-capitalize" aria-hidden="true" title="@Localizer[Model.State.ToString().ToLower()]"></i>
                                    break;
                                case OrderState.InTransit:
                                    <i class="fa fa-share item_state_confirmed text-capitalize" aria-hidden="true" title="@Localizer[Model.State.ToString().ToLower()]"></i>
                                    break;
                                case OrderState.Received:
                                    <i class="fa fa-check item_state_received text-capitalize" aria-hidden="true" title="@Localizer[Model.State.ToString().ToLower()]"></i>
                                    break;
                                case OrderState.Closed:
                                    <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[Model.State.ToString().ToLower()]"></i>
                                    break;
                                default:
                                    <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[Model.State.ToString().ToLower()]"></i>
                                    break;
                            }
                        </td>
                        <td class="text-capitalize"><b>$@Model.Ticket.Price</b></td>
                        <td class="text-capitalize">@Model.TrackingNumber</td>
                        <td class="text-capitalize">
                            @Html.Partial("_GenerationDate", Model.DateCreate)
                        </td>
                        @if (Model.DateCompletion != null && (Model.State == OrderState.Received || Model.State == OrderState.Closed))
                        {
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", Model.DateCompletion)
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                <div class="news_item">
                    <div class="news_img_block">
                        <img src="~/images/Posters/@Model.Ticket.Session.Poster" alt="poster">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <h3 class="text-capitalize">@Model.Ticket.Session.Record.Name</h3>
                <h4 class="text-capitalize">@Localizer["sale description"]</h4>
                <p>@Model.Ticket.SaleDescription</p>
                @if (!String.IsNullOrEmpty(Model.CommentFromSeller))
                {
                    <div class="seller_comment_block">
                        <hr>
                        <h5 class="text-capitalize">@Localizer["comment from the seller"]</h5>
                        <p>@Model.CommentFromSeller</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>