﻿@model ListCustomersViewModel

@{
    ViewData["Title"] = Model.Ticket.Session.Record.Name;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li><a href="@Url.Action("mytickets", "manage")" class="text-capitalize">@Localizer["my tickets"]</a></li>
    <li class="active text-capitalize">@Localizer["list of customers"]</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Nav")
            </div>
            <div class="col-md-10">
                <h4 class="text-capitalize">@Localizer["order"]</h4>
                <div class="tickets_list">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-capitalize">@Localizer["poster"]</th>
                            <th class="text-capitalize">@Localizer["name"]</th>
                            <th class="text-capitalize">@Localizer["city"]</th>
                            <th class="text-capitalize">@Localizer["venue"]</th>
                            <th class="text-capitalize">@Localizer["date"]</th>
                            <th class="text-capitalize">@Localizer["state"]</th>
                            <th class="text-capitalize">@Localizer["date create"]</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <div class="news_item">
                                    <div class="news_img_block">
                                        <img src="~/images/Posters/@Model.Ticket.Session.Poster" alt="poster">
                                    </div>
                                </div>
                            </td>
                            <td class="text-capitalize">@Model.Ticket.Session.Record.Name</td>
                            <td class="text-capitalize">@Model.Ticket.Session.Venue.City.Name</td>
                            @if (String.IsNullOrEmpty(Model.Ticket.Session.Venue.Name))
                            {
                                <td class="text-capitalize">@Model.Ticket.Session.Venue.Address</td>
                            }
                            else
                            {
                                <td class="text-capitalize">@Model.Ticket.Session.Venue.Name, @Model.Ticket.Session.Venue.Address</td>
                            }
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", Model.Ticket.Session.Date)
                            </td>
                            <td class="text-capitalize">
                                @switch (Model.Ticket.State)
                                {
                                    case TicketState.Open:
                                        <i class="fa fa-usd item_state_open text-capitalize" aria-hidden="true" title="@Localizer[Model.Ticket.State.ToString().ToLower()]"></i>
                                        break;
                                    case TicketState.Expectation:
                                        <i class="fa fa-hourglass-o item_state_expectation text-capitalize" aria-hidden="true" title="@Localizer[Model.Ticket.State.ToString().ToLower()]"></i>
                                        break;
                                    case TicketState.InTransit:
                                        <i class="fa fa-share item_state_confirmed text-capitalize" aria-hidden="true" title="@Localizer[Model.Ticket.State.ToString().ToLower()]"></i>
                                        break;
                                    case TicketState.Received:
                                        <i class="fa fa-check item_state_received text-capitalize" aria-hidden="true" title="@Localizer[Model.Ticket.State.ToString().ToLower()]"></i>
                                        break;
                                    case TicketState.Closed:
                                        <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[Model.Ticket.State.ToString().ToLower()]"></i>
                                        break;
                                    default:
                                        <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[Model.Ticket.State.ToString().ToLower()]"></i>
                                        break;
                                }
                            </td>
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", Model.Ticket.DateCreate)
                            </td>
                            <td>
                                <a href="@Url.Action("details", "home", new { ticketId = Model.Ticket.Id })" class="text-capitalize">@Localizer["details"]</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="tickets_list orders_list">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-capitalize">@Localizer["user"]</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Ticket.Orders.ToPagedList(Model.PageSize, Model.Page))
                        {
                            if (item.State != OrderState.Expectation)
                            {
                                continue;
                            }

                            <tr>
                                <td>
                                    <a href="@Url.Action("profile", "manage", new { userId = item.ApplicationUser.Id })" class="text-capitalize">@item.ApplicationUser.UserName</a>
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#modal-block_sell" class="text-capitalize ref_nav">@Localizer["sell ticket"]</a>
                                    <a href="#" data-toggle="modal" data-target="#modal-block_reject" class="text-capitalize">@Localizer["reject"]</a>
                                    <a href="@Url.Action("detailsorder", "manage", new { orderId = item.Id })" class="text-capitalize">@Localizer["details"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px; border-top: none;">
                                    <div class="modal fade custom_modal" id="modal-block_sell">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title text-capitalize text-center">@Localizer["making sales"]</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-controller="ticket" asp-action="sellticket" method="post" asp-antiforgery="true">

                                                        <input type="hidden" name="OrderId" asp-for="@item.Id" />

                                                        <div class="model_data_block">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                            <h5 class="text-capitalize">@Localizer["fill data"]</h5>

                                                            @if (item.PurchaseMethod == PurchaseMethod.Mail)
                                                            {
                                                                <textarea asp-for="TrackingNumber" class="form-control modal_input" id="toggle_input" rows="3" placeholder="@Localizer["tracking number"]"></textarea>
                                                                <span asp-validation-for="TrackingNumber" class="text-danger"></span>
                                                            }

                                                            <textarea asp-for="CommentFromSeller" class="form-control modal_input" rows="2" placeholder="@Localizer["comment"]"></textarea>
                                                            <span asp-validation-for="CommentFromSeller" class="text-danger"></span>
                                                        </div>

                                                        <input type="submit" value="@Localizer["submit"]" class="btn btn-default my_btn">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 0px; border-top: none;">
                                    <div class="modal fade custom_modal" id="modal-block_reject">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title text-capitalize text-center">@Localizer["order rejection"]</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-controller="order" asp-action="rejectorder" method="post" asp-antiforgery="true">

                                                        <input type="hidden" name="OrderId" asp-for="@item.Id" />

                                                        <div class="model_data_block">
                                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                            <h5 class="text-capitalize">@Localizer["fill data"]</h5>

                                                            <textarea asp-for="CommentFromSeller" class="form-control modal_input" rows="2" placeholder="@Localizer["cause"]"></textarea>
                                                            <span asp-validation-for="CommentFromSeller" class="text-danger"></span>
                                                        </div>

                                                        <input type="submit" value="@Localizer["submit"]" class="btn btn-default my_btn">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="pagination_s"><pager source="Model.Ticket.Orders.ToPagedList(Model.PageSize, Model.Page)" /></div>
                </div>
            </div>
        </div>
    </div>
</section>