﻿@model IPagedList<Order>

@{
    ViewData["Title"] = Localizer["my orders"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li class="active text-capitalize">@Localizer["my orders"]</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Nav")
            </div>
            <div class="col-md-10">
                <h4 class="text-capitalize">@Localizer["orders"]</h4>
                <div class="tickets_list">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-capitalize">@Localizer["seller"]</th>
                            <th class="text-capitalize">@Localizer["poster"]</th>
                            <th class="text-capitalize">@Localizer["name"]</th>
                            <th class="text-capitalize">@Localizer["city"]</th>
                            <th class="text-capitalize">@Localizer["venue"]</th>
                            <th class="text-capitalize">@Localizer["date"]</th>
                            <th class="text-capitalize">@Localizer["state"]</th>
                            <th class="text-capitalize">@Localizer["price"]</th>
                            <th class="text-capitalize">@Localizer["tracking number"]</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-capitalize">
                                    <a href="@Url.Action("profile", "manage", new { userId = item.Ticket.ApplicationUserId })" class="text-capitalize">@item.Ticket.ApplicationUser.UserName</a>
                                </td>
                                <td>
                                    <div class="news_item">
                                        <div class="news_img_block">
                                            <img src="~/images/Posters/@item.Ticket.Session.Poster" alt="poster">
                                        </div>
                                    </div>
                                </td>
                                <td class="text-capitalize">@item.Ticket.Session.Record.Name</td>
                                <td class="text-capitalize">@item.Ticket.Session.Venue.City.Name</td>
                                @if (String.IsNullOrEmpty(item.Ticket.Session.Venue.Name))
                                {
                                    <td class="text-capitalize">@item.Ticket.Session.Venue.Address</td>
                                }
                                else
                                {
                                    <td class="text-capitalize">@item.Ticket.Session.Venue.Name, @item.Ticket.Session.Venue.Address</td>
                                }
                                <td class="text-capitalize">
                                    @Html.Partial("_GenerationDate", item.Ticket.Session.Date)
                                </td>
                                <td class="text-capitalize">
                                    @switch (item.State)
                                    {
                                        case OrderState.Expectation:
                                            <i class="fa fa-hourglass-o item_state_expectation text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case OrderState.InTransit:
                                            <i class="fa fa-share item_state_confirmed text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case OrderState.Received:
                                            <i class="fa fa-check item_state_received text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case OrderState.Rejected:
                                            <i class="fa fa-times item_state_rejected text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case OrderState.Closed:
                                            <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        default:
                                            <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                    }
                                </td>
                                <td class="text-capitalize"><b>$@item.Ticket.Price</b></td>
                                <td class="text-capitalize">@item.TrackingNumber</td>
                                <td class="text-capitalize">
                                    @if (item.State == OrderState.Expectation && item.IsShow)
                                    {
                                        <a href="@Url.Action("detailsorder", "manage", new { orderId = item.Id })" class="text-capitalize">@Localizer["details"]</a>
                                    }
                                    else if (item.State == OrderState.InTransit && item.IsShow)
                                    {
                                        if (item.PurchaseMethod == PurchaseMethod.Mail)
                                        {
                                            <a href="@Url.Action("confirmorder", "order", new { orderId = item.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize ref_buy">@Localizer["confirm"]</a>
                                        }
                                        if (item.PurchaseMethod == PurchaseMethod.Personally)
                                        {
                                            <a href="@Url.Action("detailsorder", "manage", new { orderId = item.Id })" class="text-capitalize">@Localizer["details"]</a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("clear", "order", new { orderId = item.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize ref_archive">@Localizer["archive"]</a>
                                        <a href="@Url.Action("detailsorder", "manage", new { orderId = item.Id })" class="text-capitalize">@Localizer["details"]</a>
                                    }
                                </td>
                            </tr>
                        }
                    </table>

                    <div class="pagination_s"><pager source="Model" /></div>
                </div>
            </div>
        </div>
    </div>
</section>