﻿@model ProfileViewModel

@{
    ViewData["Title"] = $"{Model.User.UserName + " - " + Localizer["profile"].Value}";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li class="active text-capitalize">@Model.User.UserName</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Nav")
            </div>
            <div class="col-md-10">
                <h4 class="text-capitalize">@Localizer["profile"]</h4>
                <div class="profile_block">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-capitalize">@Localizer["login"]: <span>@Model.User.UserName</span></p>

                            @if (@User.Identity.Name == Model.User.UserName)
                            {
                                <p><a href="#" id="profile_edit-pass">Edit password</a></p>
                                <form asp-controller="Manage" id="form_toggle" asp-action="ChangePassword" method="post" class="form-horizontal" asp-antiforgery="true">
                                    <input type="hidden" asp-for="User.Id" />
                                    <input type="hidden" asp-for="TotalTickets" />
                                    <input type="hidden" asp-for="ActiveTickets" />
                                    <input type="hidden" asp-for="SoldTickets" />
                                    <hr />
                                    <div class="form-group">
                                        <label asp-for="ProfileChangePassword.OldPassword" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ProfileChangePassword.OldPassword" class="form-control" />
                                            <span asp-validation-for="ProfileChangePassword.OldPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProfileChangePassword.NewPassword" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ProfileChangePassword.NewPassword" class="form-control" />
                                            <span asp-validation-for="ProfileChangePassword.NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProfileChangePassword.ConfirmPassword" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ProfileChangePassword.ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ProfileChangePassword.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-default text-capitalize">@Localizer["change password"]</button>
                                        </div>
                                    </div>
                                </form>

                                <hr>
                                <form asp-controller="Manage" id="form_edit_data" asp-action="ChangeData" method="post" class="form-horizontal" asp-antiforgery="true">
                                    <input type="hidden" asp-for="User.Id" />
                                    <input type="hidden" asp-for="TotalTickets" />
                                    <input type="hidden" asp-for="ActiveTickets" />
                                    <input type="hidden" asp-for="SoldTickets" />

                                    <p class="text-capitalize">
                                        @Localizer["first name"]:
                                        <input asp-for="User.FirstName" />
                                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                    </p>

                                    <p class="text-capitalize">
                                        @Localizer["last name"]:
                                        <input asp-for="User.LastName" />
                                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                                    </p>

                                    <p class="text-capitalize">
                                        @Localizer["about me"]:
                                        <input asp-for="User.AboutMe" />
                                        <span asp-validation-for="User.AboutMe" class="text-danger"></span>
                                    </p>

                                    <button type="submit" class="btn btn-default text-capitalize">@Localizer["change data"]</button>
                                </form>
                            }
                            else
                            {
                                <p class="text-capitalize">
                                    @Localizer["first name"]: <span>@Model.User.FirstName</span>
                                </p>
                                <p class="text-capitalize">
                                    @Localizer["last name"]: <span>@Model.User.LastName</span>
                                </p>
                                <p class="text-capitalize">
                                    @Localizer["about me"]: <span>@Model.User.AboutMe</span>
                                </p>
                            }
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-capitalize">@Localizer["statistics"]</h4>
                            <p>@Localizer["total tickets"]: <span>@Model.TotalTickets</span></p>
                            <p>@Localizer["the number of active tickets"]: <span>@Model.ActiveTickets</span></p>
                            <p>@Localizer["number of tickets sold"]: <span>@Model.SoldTickets</span></p>

                            @if (User.IsInRole("Administrator"))
                            {
                                <hr />
                                <form asp-controller="Manage" asp-action="SetRole" method="post" class="form-horizontal" asp-antiforgery="true">
                                    <input type="hidden" asp-for="User.Id" />
                                    <h5 class="text-capitalize">@Localizer["set role"]</h5>
                                    <select class="custom_select" asp-for="RoleId" asp-items="@Model.Roles"></select>
                                    <p><br /><button type="submit" class="btn text-capitalize">@Localizer["confirm"]</button></p>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>