﻿@model IPagedList<Ticket>

@{
    ViewData["Title"] = Localizer["tickets archive"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li class="active text-capitalize">@Localizer["tickets archive"]</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Nav")
            </div>
            <div class="col-md-10">
                <h4 class="text-capitalize">@Localizer["tickets archive"]</h4>
                <div class="tickets_list">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-capitalize">@Localizer["poster"]</th>
                            <th class="text-capitalize">@Localizer["name"]</th>
                            <th class="text-capitalize">@Localizer["city"]</th>
                            <th class="text-capitalize">@Localizer["venue"]</th>
                            <th class="text-capitalize">@Localizer["date"]</th>
                            <th class="text-capitalize">@Localizer["state"]</th>
                            <th class="text-capitalize">@Localizer["price"]</th>
                            <th class="text-capitalize">@Localizer["tracking number"]</th>
                            <th class="text-capitalize">@Localizer["date create"]</th>
                            <th class="text-capitalize">@Localizer["date of completion"]</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="news_item">
                                        <div class="news_img_block">
                                            <img src="~/images/Posters/@item.Session.Poster" alt="poster">
                                        </div>
                                    </div>
                                </td>
                                <td class="text-capitalize">@item.Session.Record.Name</td>
                                <td class="text-capitalize">@item.Session.Venue.City.Name</td>
                                @if (String.IsNullOrEmpty(item.Session.Venue.Name))
                                {
                                    <td class="text-capitalize">@item.Session.Venue.Address</td>
                                }
                                else
                                {
                                    <td class="text-capitalize">@item.Session.Venue.Name, @item.Session.Venue.Address</td>
                                }
                                <td class="text-capitalize">
                                    @Html.Partial("_GenerationDate", item.Session.Date)
                                </td>
                                <td class="text-capitalize">
                                    @switch (item.State)
                                    {
                                        case TicketState.Open:
                                            <i class="fa fa-usd item_state_open text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case TicketState.Expectation:
                                            <i class="fa fa-hourglass-o item_state_expectation text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case TicketState.InTransit:
                                            <i class="fa fa-share item_state_confirmed text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case TicketState.Received:
                                            <i class="fa fa-check item_state_received text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        case TicketState.Closed:
                                            <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                        default:
                                            <i class="fa fa-archive item_state_close text-capitalize" aria-hidden="true" title="@Localizer[item.State.ToString().ToLower()]"></i>
                                            break;
                                    }
                                </td>
                                <td class="text-capitalize"><b>$@item.Price</b></td>
                                <td class="text-capitalize">@item.TrackingNumber</td>
                                <td class="text-capitalize">
                                    @Html.Partial("_GenerationDate",  item.DateCreate)
                                </td>
                                <td class="text-capitalize">
                                    @Html.Partial("_GenerationDate", item.DateCompletion)
                                </td>
                                <td class="text-capitalize">
                                    <a href="@Url.Action("details", "home", new { ticketId = item.Id })" class="text-capitalize">@Localizer["details"]</a>
                                </td>
                            </tr>
                        }
                    </table>

                    <div class="pagination_s"><pager source="Model" /></div>
                </div>
            </div>
        </div>
    </div>
</section>