﻿@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["About"].Value;
}

<div class="container">
    <div class="row">
        <p class="text-capitalize">@Localizer["Some information"]</p>
    </div>
</div>
