﻿@{
    ViewData["Title"] = @Localizer["advanced search"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li class="active text-capitalize">@Localizer["advanced search"]</li>
</ol>

<section class="browse_s">
    <section class="hot_deals_s">
        <div class="container-fluid">
            <div class="row">
                <div class="tab-content">
                    <div id="@ViewBag.Browse" class="tab-pane fade in active">
                        <div class="col-md-4 col-sm-4 col-xs-12 filter_col">
                            <div class="filter_block">
                                <div class="s-record-name_block">
                                    <h6>@Localizer["record name"]</h6>
                                    <div class="filter_ref">
                                        <input type="text" id="s-autocomplete" class="autocomplete" />
                                    </div>
                                </div>
                                <div class="s-dates_block">
                                    <h6>@Localizer["date"]</h6>
                                    <div class="filter_ref">
                                        <input type="text" name="daterange" id="s-daterange" value="" />
                                    </div>
                                </div>
                                <div class="s-cities_block">
                                    <h6>@Localizer["cities"]</h6>
                                    <img src="~/images/loading.gif" class="ajax-loading" alt="loading">
                                </div>
                                <div class="s-venues_block">
                                    <h6>@Localizer["venues"]</h6>
                                    <img src="~/images/loading.gif" class="ajax-loading" alt="loading">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-8 col-sm-8">
                            <div class="row">
                                <div class="tickets_list">
                                    <img src="~/images/loading-black.gif" class="ajax-loading" alt="loading">
                                    <table class="table table-striped">
                                        <tr>
                                            <th class="text-capitalize">@Localizer["poster"]</th>
                                            <th class="text-capitalize"><a href="#" id="s-name_sort" value="asc">@Localizer["name"]</a> <i class="fa fa-arrows-v" aria-hidden="true"></i></th>
                                            <th class="text-capitalize">@Localizer["city"]</th>
                                            <th class="text-capitalize">@Localizer["venue"]</th>
                                            <th class="text-capitalize"><a href="#" id="s-date_sort" value="asc">@Localizer["date"]</a> <i class="fa fa-arrows-v" aria-hidden="true"></i></th>
                                            <th class="text-capitalize">@Localizer["proposals"]</th>
                                            <th></th>
                                        </tr>
                                    </table>
                                    <div class="pagination_s">
                                        <div class="col-md-12 text-center">
                                            <div id="page-selection"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@section Scripts
{
    <script src="~/js/advSearchAPI.js" asp-append-version="true"></script>
}