﻿@model AllTicketsModel

@{
    ViewData["Title"] = @Model.Session.Record.Name;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li><a href="@Url.Action("browse", "home")" class="text-capitalize">@Localizer["browse events"]</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Session.Record.Category.Event.Name })" class="text-capitalize">@Model.Session.Record.Category.Event.Name</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Session.Record.Category.Event.Name, categoryName = Model.Session.Record.Category.Name })" class="text-capitalize">@Model.Session.Record.Category.Name</a></li>
    <li><a href="@Url.Action("item", "home", new { recordId = Model.Session.RecordId })" class="text-capitalize">@Model.Session.Record.Name</a></li>
    <li class="active text-capitalize">@Model.Session.Date</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="tickets_list">
                <table class="table table-striped">
                    <tr>
                        <th class="text-capitalize">@Localizer["author"]</th>
                        <th class="text-capitalize">@Localizer["city"]</th>
                        <th class="text-capitalize">@Localizer["venue"]</th>
                        <th class="text-capitalize">@Localizer["date"]</th>
                        <th class="text-capitalize">@Localizer["date create"]</th>
                        <th class="text-capitalize">@Localizer["price"]</th>
                        <th class="text-capitalize"><a href="@Url.Action("create", "ticket", new { sessionId = Model.Session.Id })" class="ref_nav text-capitalize">@Localizer["add ticket"]</a></th>
                    </tr>
                    @foreach (var item in Model.Tickets)
                    {
                        <tr>
                            <td class="text-capitalize"><a href="@Url.Action("profile", "manage", new { userId = item.ApplicationUserId })" class="text-capitalize">@item.ApplicationUser.UserName</a></td>
                            <td class="text-capitalize">@item.Session.Venue.City.Name</td>
                            @if (String.IsNullOrEmpty(item.Session.Venue.Name))
                            {
                                <td class="text-capitalize">@item.Session.Venue.Address</td>
                            }
                            else
                            {
                                <td class="text-capitalize">@item.Session.Venue.Name, @item.Session.Venue.Address</td>
                            }
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", item.Session.Date)
                            </td>
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", item.DateCreate)
                            </td>
                            <td class="text-capitalize"><b>@item.Price$</b></td>
                            <td class="text-capitalize"><a href="@Url.Action("details", "home", new { ticketId = item.Id })" class="text-capitalize">@Localizer["details"]</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>

<section class="pagination_s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <pager source="Model.Tickets" />
            </div>
        </div>
    </div>
</section>