﻿@model BrowseModel

@{
    ViewData["Title"] = ViewBag.Browse;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li class="active text-capitalize">@ViewBag.Browse</li>
</ol>

<section class="browse_s">
    <section class="hot_deals_s">
        <div class="container">
            <div class="row">
                <div class="tab-content">
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a href="@Url.Action("addrecord", "record")" class="btn text-uppercase">@Localizer["add record"]</a>
                    }
                    <div id="@ViewBag.Browse" class="tab-pane fade in active">
                        <div class="col-md-12 col-sm-6 col-xs-12 categories_col">
                            <div class="row">
                                <div class="categories_block">
                                    <h4>@Localizer["categories"]</h4>
                                    @foreach (var c in Model.Categories)
                                    {
                                        <div class="col-md-2 categories_ref"><a href="@Url.Action("browse", "home", new { eventName = @ViewBag.Browse, categoryName = @c.Name })"><b>@c.Name</b></a></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <br>

                        @if (Model.Records.Count() == 0)
                        {
                            <div class="col-md-12 text-center">
                                <div class="row">
                                    <h3 class="text-capitalize">@Localizer["The list is empty"]</h3>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var m in Model.Records)
                            {
                                <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                                    <a href="@Url.Action("item", "home", new { recordId = m.Id })" class="item_ref">
                                        <div class="row">
                                            <div class="news_item">
                                                <div class="news_img_block">
                                                    <img src="~/images/Posters/@m.Poster" alt="poster">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="news_disc">
                                                <div class="news_name">
                                                    <span>@m.Name</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="pagination_s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <pager source="Model.Records" />
            </div>
        </div>
    </div>
</section>