﻿@model DetailsViewModel

@{
    ViewData["Title"] = Model.Ticket.Session.Date;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li><a href="@Url.Action("browse", "home")" class="text-capitalize">@Localizer["browse events"]</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Ticket.Session.Record.Category.Event.Name })" class="text-capitalize">@Model.Ticket.Session.Record.Category.Event.Name</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Ticket.Session.Record.Category.Event.Name, categoryName = Model.Ticket.Session.Record.Category.Name })" class="text-capitalize">@Model.Ticket.Session.Record.Category.Name</a></li>
    <li><a href="@Url.Action("item", "home", new { recordId = @Model.Ticket.Session.Record.Id })" class="text-capitalize">@Model.Ticket.Session.Record.Name</a></li>
    <li><a href="@Url.Action("alltickets", "home", new { sessionId = @Model.Ticket.Session.Id })" class="text-capitalize">@Model.Ticket.Session.Date</a></li>
    <li class="active text-capitalize">@Localizer["details"]</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="tickets_list">
                <table class="table table-striped">
                    <tr>
                        <th class="text-capitalize">@Localizer["author"]</th>
                        <th class="text-capitalize">@Localizer["city"]</th>
                        <th class="text-capitalize">@Localizer["venue"]</th>
                        <th class="text-capitalize">@Localizer["date"]</th>
                        <th class="text-capitalize">@Localizer["price"]</th>
                        <th class="text-capitalize">@Localizer["date create"]</th>
                        @if (Model.Ticket.DateCompletion != null && (Model.Ticket.State == TicketState.Received || Model.Ticket.State == TicketState.Closed))
                        {
                            <th class="text-capitalize">@Localizer["date of completion"]</th>
                        }
                        <th></th>
                    </tr>
                    <tr>
                        <td class="text-capitalize"><a href="@Url.Action("profile", "manage", new { userId = Model.Ticket.ApplicationUserId })" class="text-capitalize">@Model.Ticket.ApplicationUser</a></td>
                        <td class="text-capitalize">@Model.Ticket.Session.Venue.City.Name</td>
                        @if (String.IsNullOrEmpty(Model.Ticket.Session.Venue.Name))
                        {
                            <td class="text-capitalize">@Model.Ticket.Session.Venue.Address</td>
                        }
                        else
                        {
                            <td class="text-capitalize">@Model.Ticket.Session.Venue.Name, @Model.Ticket.Session.Venue.Address</td>
                        }
                        <td class="text-capitalize">
                            @Html.Partial("_GenerationDate", Model.Ticket.Session.Date)
                        </td>
                        <td class="text-capitalize"><b>@Model.Ticket.Price$</b></td>
                        <td class="text-capitalize">
                            @Html.Partial("_GenerationDate", Model.Ticket.DateCreate)
                        </td>
                        @if (Model.Ticket.DateCompletion != null && (Model.Ticket.State == TicketState.Received || Model.Ticket.State == TicketState.Closed))
                        {
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", Model.Ticket.DateCompletion)
                            </td>
                        }
                        <td class="text-capitalize">
                            @if (User.Identity.Name == Model.Ticket.ApplicationUser.UserName)
                            {
                                @if (Model.Ticket.State == TicketState.Open && Model.Ticket.IsShow == true)
                                {
                                    <a href="@Url.Action("edit", "ticket", new { ticketId = Model.Ticket.Id })" class="text-capitalize ref_buy">@Localizer["edit"]</a>
                                    <a href="@Url.Action("notRelevant", "ticket", new { ticketId = Model.Ticket.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize ref_nav">@Localizer["not relevant"]</a>
                                }
                                else if ((Model.Ticket.State == TicketState.Closed || Model.Ticket.State == TicketState.Received) && Model.Ticket.IsShow == true)
                                {
                                    <a href="@Url.Action("clear", "ticket", new { ticketId = Model.Ticket.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize ref_archive">@Localizer["archive"]</a>
                                }
                                else if (!Model.Ticket.IsShow) { }
                                else
                                {
                                    <a href="#" onclick="return confirm ('@Localizer["The operation is not possible. Your ticket is in the standby state, or it has not yet delivered."].Value')" class="text-capitalize ref_close">@Localizer["not relevant"]</a>
                                }
                            }
                            else
                            {
                                if (Model.Ticket.State != TicketState.Closed && Model.Ticket.State != TicketState.Received && Model.Ticket.State != TicketState.InTransit)
                                {
                                    <a href="#" data-toggle="modal" data-target="#modal-block" class="text-capitalize ref_nav">@Localizer["send request for purchase"]</a>
                                }
                                else
                                {
                                    <a href="#" class="text-capitalize ref_close">@Localizer["closed"]</a>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                <div class="news_item">
                    <div class="news_img_block">
                        <img src="~/images/Posters/@Model.Ticket.Session.Poster" alt="poster">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <h3 class="text-capitalize">@Model.Ticket.Session.Record.Name</h3>
                <h4 class="text-capitalize">@Localizer["sale description"]</h4>
                <p>@Model.Ticket.SaleDescription</p>
            </div>
        </div>
    </div>
</section>

<div class="modal fade custom_modal" id="modal-block">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-capitalize text-center">@Localizer["drawing up of an order"]</h4>
            </div>
            <div class="modal-body">
                <form asp-controller="order" asp-action="sendrequest" method="post" asp-antiforgery="true">

                    <input type="hidden" asp-for="Ticket.Id" />

                    <div class="model_process_block">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h5 class="text-capitalize">@Localizer["choose the method of purchase"]</h5>
                        @Html.DropDownListFor(n => n.PurchaseMethod, Html.GetEnumSelectList(typeof(PurchaseMethod)), new { @id = "modal_list" })
                        <span asp-validation-for="PurchaseMethod" class="text-danger"></span>
                    </div>
                    <div class="model_data_block">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h5 class="text-capitalize">@Localizer["fill data"]</h5>

                        <textarea asp-for="Address" class="form-control modal_input" id="toggle_input" rows="3" placeholder="@Localizer["delivery address"]"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>

                        <input asp-for="PhoneNumber" type="text" class="form-control modal_input" placeholder="@Localizer["phone number"]">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                        <textarea asp-for="Comment" class="form-control modal_input" rows="2" placeholder="@Localizer["comment"]"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>

                    <input type="submit" value="@Localizer["send"]" class="btn btn-default my_btn">
                </form>
            </div>
        </div>
    </div>
</div>