﻿@model IEnumerable<Event>

@{
    ViewData["Title"] = Localizer["home page"];
}

<section class="tabs_s">
    <h1 class="text-capitalize">@Localizer["new offers right now!"]</h1>

    <div class="container">
        <div class="row text-center">
            <div class="tabs_nav">
                <ul class="nav nav-pills">
                    @{
                        int i = 0;
                    }
                    @foreach (var ev in Model)
                    {
                        if (i == 0)
                        {
                            <li class="col-md-2 active tab_btn_active text-capitalize"><a data-toggle="pill" href="#@ev.Name.ToLower()">@Localizer[ev.Name.ToLower()]</a></li>
                            i++;
                            continue;
                        }

                        <li class="col-md-2 tab_btn text-capitalize"><a data-toggle="pill" href="#@ev.Name.ToLower()">@Localizer[ev.Name.ToLower()]</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="hot_deals_s">
    <div class="container">
        <div class="row">
            <div class="tab-content">
                @{
                    i = 0;
                }
                @foreach (var ev in Model)
                {
                    if (i == 0)
                    {
                        <div id="@ev.Name.ToLower()" class="tab-pane fade in active">
                            @foreach (var m in ev.Categories)
                            {
                                if (m.Records != null)
                                {
                                    @foreach (var c in m.Records)
                                    {
                                        <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                                            <a href="@Url.Action("item", "home", new { recordId = c.Id })" class="item_ref">
                                                <div class="row">
                                                    <div class="news_item">
                                                        <div class="news_img_block">
                                                            <img src="~/images/Posters/@c.Poster" alt="poster">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="news_disc">
                                                        <div class="news_name">
                                                            <span>@c.Name</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                            }
                        </div>

                        i++;
                        continue;
                    }

                    <div id="@ev.Name.ToLower()" class="tab-pane fade">
                        @foreach (var m in ev.Categories)
                        {
                            if (m.Records != null)
                            {
                                @foreach (var c in m.Records)
                                {
                                    <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                                        <a href="@Url.Action("item", "home", new { recordId = c.Id })" class="item_ref">
                                            <div class="row">
                                                <div class="news_item">
                                                    <div class="news_img_block">
                                                        <img src="~/images/Posters/@c.Poster" alt="poster">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="news_disc">
                                                    <div class="news_name">
                                                        <span>@c.Name</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>