﻿@model ItemModel

@{
    ViewData["Title"] = Model.Record.Name;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li><a href="@Url.Action("browse", "home")" class="text-capitalize">@Localizer["browse events"]</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Record.Category.Event.Name })" class="text-capitalize">@Model.Record.Category.Event.Name</a></li>
    <li><a href="@Url.Action("browse", "home", new { eventName = Model.Record.Category.Event.Name, categoryName = Model.Record.Category.Name })" class="text-capitalize">@Model.Record.Category.Name</a></li>
    <li class="active text-capitalize">@Model.Record.Name</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 text-center">
                <div class="news_item">
                    <div class="news_img_block">
                        <img src="~/images/Posters/@Model.Record.Poster" alt="poster">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <h2 class="text-capitalize">@Model.Record.Name</h2>
                <p>@Model.Record.Description</p>
            </div>
            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {
                <div class="record_update_block">
                    <hr>
                    <a href="@Url.Action("addsession", "session", new { recordId = Model.Record.Id })" class="text-capitalize btn">@Localizer["add session"]</a>&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("editrecord", "record", new { recordId = Model.Record.Id })" class="text-capitalize btn">@Localizer["edit record"]</a>
                    <a href="@Url.Action("removerecord", "record", new { recordId = Model.Record.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize btn">@Localizer["remove record"]</a>
                </div>
            }
        </div>
        <div class="row">
            <div class="tickets_list">
                <table class="table table-striped">
                    <tr>
                        <th class="text-capitalize">@Localizer["poster"]</th>
                        <th class="text-capitalize">@Localizer["city"]</th>
                        <th class="text-capitalize">@Localizer["venue"]</th>
                        <th class="text-capitalize">@Localizer["date"]</th>
                        <th class="text-capitalize">@Localizer["proposals"]</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                <div class="news_item">
                                    <div class="news_img_block">
                                        <img src="~/images/Posters/@item.Session.Poster" alt="poster">
                                    </div>
                                </div>
                            </td>
                            <td class="text-capitalize">@item.Session.Venue.City.Name</td>
                            @if (String.IsNullOrEmpty(item.Session.Venue.Name))
                            {
                                <td class="text-capitalize">@item.Session.Venue.Address</td>
                            }
                            else
                            {
                                <td class="text-capitalize">@item.Session.Venue.Name, @item.Session.Venue.Address</td>
                            }
                            <td class="text-capitalize">
                                @Html.Partial("_GenerationDate", item.Session.Date)
                            </td>
                            <td class="text-capitalize">@item.Proposals</td>
                            <td class="text-capitalize">
                                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                {
                                    <a href="@Url.Action("editsession", "session", new { sessionId = item.Session.Id })" class="text-capitalize">@Localizer["edit"]</a>
                                    <a href="@Url.Action("removesession", "session", new { sessionId = item.Session.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize">@Localizer["delete"]</a>
                                }
                                <a href="@Url.Action("alltickets", "home", new { sessionId = item.Session.Id })" class="text-capitalize">@Localizer["go to tickets"]</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>

<section class="pagination_s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <pager source="Model.Items.ToPagedList(Model.PageSize, Model.Page)" />
            </div>
        </div>
    </div>
</section>