﻿@model SearchViewModel

@{
    ViewData["Title"] = $"{@Localizer["search"].Value + " - " + Model.TopSearch }";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li class="active text-capitalize">@Model.TopSearch</li>
</ol>

<section class="browse_s">
    <section class="hot_deals_s">
        <div class="container">
            <div class="row">
                <div class="tab-content">
                    <div id="search_list" class="tab-pane fade in active">
                        @if (Model.Records.Count() == 0)
                        {
                            <div class="col-md-12 text-center">
                                <div class="row">
                                    <h3>@Localizer["sorry, your request could not find records."]</h3>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (var m in Model.Records)
                            {
                                <div class="col-md-3 col-sm-4 col-xs-12 text-center">
                                    <a href="@Url.Action("item", "home", new { recordId = m.Id })" class="item_ref">
                                        <div class="row">
                                            <div class="news_item">
                                                <div class="news_img_block">
                                                    <img src="~/images/Posters/@m.Poster" alt="poster">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="news_disc">
                                                <div class="news_name">
                                                    <span>@m.Name</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="pagination_s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <pager source="Model.Records" />
            </div>
        </div>
    </div>
</section>