﻿@model UpdateVenueModel

@{
    ViewData["Title"] = @Localizer["venue editing"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li><a href="@Url.Action("listcities", "city")" class="text-capitalize">@Localizer["list of cities"]</a></li>
    <li><a href="@Url.Action("listvenues", "venue" , new { cityId = Model.City.Id })" class="text-capitalize">@Model.City.Name</a></li>
    <li class="active text-capitalize">@Localizer["venue editing"]</li>
</ol>

<section class="addrecord_s">
    <div class="container">
        <div class="row">
            <h4 class="text-center text-capitalize">@Localizer["venue editing"]</h4>
        </div>
        <div class="row">
            <form asp-controller="Venue" asp-action="EditVenue" method="post" asp-antiforgery="true">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.City.Id" />

                <div class="col-md-12">
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Name"></label></h5>
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Address"></label></h5>
                        <input type="text" class="form-control" asp-for="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default my_btn text-capitalize">@Localizer["save"]</button>
                </div>
            </form>
        </div>
    </div>
</section>