﻿@model IPagedList<Venue>

@{
    ViewData["Title"] = $"{@Localizer["list of venues"].Value + " - " + Model.FirstOrDefault().City.Name}";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li><a href="@Url.Action("listcities", "city")" class="text-capitalize">@Localizer["list of cities"]</a></li>
    <li class="active text-capitalize">@Model.FirstOrDefault().City.Name</li>
</ol>

<section class="item_s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Nav")
            </div>
            <div class="col-md-10">
                <h4 class="text-capitalize">@Localizer["tickets"]</h4>
                <div class="tickets_list">
                    <table class="table table-striped">
                        <tr>
                            <th class="text-capitalize">@Localizer["name"]</th>
                            <th class="text-capitalize">@Localizer["address"]</th>
                            <th><a href="@Url.Action("addvenue", "venue", new { cityId = @Model.FirstOrDefault().CityId })" class="ref_nav text-capitalize">@Localizer["add venue"]</a></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-capitalize">@item.Name</td>
                                <td class="text-capitalize">@item.Address</td>
                                <td class="text-capitalize">
                                    <a href="@Url.Action("editvenue", "venue", new { venueId = item.Id })" class="text-capitalize">@Localizer["edit"]</a>
                                    <a href="@Url.Action("removevenue", "venue", new { venueId = item.Id })" onclick="return confirm ('@Localizer["are you sure?"].Value')" class="text-capitalize">@Localizer["delete"]</a>
                                </td>
                            </tr>
                        }
                    </table>

                    <div class="pagination_s"><pager source="Model" /></div>
                </div>
            </div>
        </div>
    </div>
</section>