﻿@model UpdateSessionModel

@{
    ViewData["Title"] = @Localizer["session editing"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "home")" class="text-capitalize">@Localizer["home"]</a></li>
    <li class="active text-capitalize">@Localizer["session editing"]</li>
</ol>

<section class="addrecord_s">
    <div class="container">
        <div class="row">
            <h4 class="text-center text-capitalize">@Localizer["session editing"]</h4>
        </div>
        <div class="row">
            <form asp-controller="Session" asp-action="EditSession" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                <input type="hidden" asp-for="RecordId" />

                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Poster"></label></h5>
                        <input asp-for="Poster" />
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize">@Localizer["cities"]</h5>
                        <select class="custom_select" id="CityId" name="CityId"></select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize">@Localizer["venues"]</h5>
                        <select class="custom_select" id="VenueId" name="VenueId"></select>
                        <span asp-validation-for="VenueId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Date"></label></h5>
                        <input type="datetime-local" class="form-control" asp-for="Date">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Description"></label></h5>
                        <textarea style="resize: none;" asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default my_btn text-capitalize">@Localizer["save"]</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/sessionsAPI.js" asp-append-version="true"></script>
}