﻿@model UpdateRecordModel

@{
    ViewData["Title"] = @Localizer["record addition"];
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
    <li class="active text-capitalize">@Localizer["record addition"]</li>
</ol>

<section class="addrecord_s">
    <div class="container">
        <div class="row">
            <h4 class="text-center text-capitalize">@Localizer["record addition"]</h4>
        </div>
        <div class="row">
            <form asp-controller="Record" asp-action="AddRecord" method="post" asp-antiforgery="true" enctype="multipart/form-data">
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Poster"></label></h5>
                        <input asp-for="Poster" />
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize">@Localizer["events"]</h5>
                        <select class="custom_select" id="EventId" name="EventId"></select>
                        <span asp-validation-for="EventId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize">@Localizer["categories"]</h5>
                        <select class="custom_select" id="CategoryId" name="CategoryId"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Name"></label></h5>
                        <input type="text" class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5 class="text-capitalize"><label asp-for="Description"></label></h5>
                        <textarea style="resize: none;" asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default my_btn text-capitalize">@Localizer["submit"]</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/eventsAPI.js" asp-append-version="true"></script>
}