﻿@model DateTime

<span>@Model.Day.@Model.Month.@Model.Year</span> |
<span>@Model.Hour</span>
@if (@Model.Minute == 0)
{
    <sup>00</sup>
}
else if (Model.Minute < 10 && Model.Minute != 0)
{
    <sup>0+@Model.Minute</sup>
}
else
{
    <sup>@Model.Minute</sup>
}