﻿@using Microsoft.AspNetCore.Identity
@using EpamProject.DAL.Entities
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["tickets store"]</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <header>
        <nav class="navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="account_block_a hidden-lg hidden-md hidden-sm">
                                <ul>
                                    <li class="dropdown">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        <a class="dropdown-toggle text-capitalize" data-toggle="dropdown" href="#">
                                            @Localizer["my account"]<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu user_list">
                                            <li class="li user_block text-capitalize">
                                                <div class="user_name_block">
                                                    <span>@Localizer["hi"],&nbsp;@User.Identity.Name</span>
                                                </div>
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["profile"].Value, "profile", "manage")
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["my orders"].Value, "myorders", "manage")
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["my tickets"].Value, "mytickets", "manage")
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["log off"].Value, "logoff", "account")
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <i class="nav_h_i fa fa-user-o hidden-lg hidden-md hidden-sm" aria-hidden="true"></i>
                            <a href="@Url.Action("login", "account")" class="nav_h_a hidden-lg hidden-md hidden-sm text-capitalize">@Localizer["my account"]</a>
                        }
                        <button class="navbar-toggle collapsed menu_btn" data-toggle="collapse" data-target="#top_menu">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>

                    </div>
                    <div class="logo_block text-center hidden-xs">
                        <a href="@Url.Action("index", "home")">
                            <span class="logo_firstRow text-capitalize">@Localizer["best tickets"]</span>
                            <br />
                            <span class="logo_secRow text-capitalize">@Localizer["for you!"]</span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="top_menu">
                        <ul class="menu">
                            <li class="hidden-xs text-capitalize"><a href="#" data-toggle="collapse" data-target="#browse_nav">@Localizer["browse events"]</a></li>
                            <li><a href="@Url.Action("about", "home")" class="text-capitalize">@Localizer["about us"]</a></li>
                            <li><a href="@Url.Action("advancedsearch", "home")" class="text-capitalize">@Localizer["advanced search"]</a></li>


                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <li class="account_block_guest hidden-xs">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <a class="text-capitalize" href="@Url.Action("login", "account")">@Localizer["my account"]</a>
                                </li>
                            }
                        </ul>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="account_block_a hidden-xs">
                                <ul>
                                    <li class="dropdown">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        <a class="dropdown-toggle text-capitalize" data-toggle="dropdown" href="#">
                                            @Localizer["my account"]<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu user_list">
                                            <li class="li user_block">
                                                <div class="user_name_block text-capitalize">
                                                    <span>@Localizer["hi"],&nbsp;@User.Identity.Name</span>
                                                </div>
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["profile"].Value, "profile", "manage")
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["my orders"].Value, "myorders", "manage")
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["my tickets"].Value, "mytickets", "manage")
                                            </li>
                                            <li class="li user_block text-capitalize">
                                                @Html.ActionLink(Localizer["log off"].Value, "logoff", "account")
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="search_s">
        <div id="browse_nav" class="collapse">
            <div class="container-fluid">
                <div class="row">
                    <div class="browse_nav_block">
                        <a href="@Url.Action("browse", "home", new { eventName = "sport" })"><b>@Localizer["sport"]</b></a>
                        <a href="@Url.Action("browse", "home", new { eventName = "concerts" })"><b>@Localizer["concerts"]</b></a>
                        <a href="@Url.Action("browse", "home", new { eventName = "movies" })"><b>@Localizer["movies"]</b></a>
                        <a href="@Url.Action("browse", "home", new { eventName = "theater" })"><b>@Localizer["theater"]</b></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="search_block">
                    <div class="search_form">
                        <div class="search_form_controls">
                            <form asp-controller="Home" asp-action="Search" method="post" asp-antiforgery="true">
                                <input type="text" class="autocomplete text-capitalize" name="topsearch" placeholder="@Localizer["what do we look for?"]">
                                <input type="submit" name="btn_search" value="">
                            </form>
                        </div>
                    </div>
                    <img src="~/images/search-img.jpg" alt="fon search" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

    @RenderBody()

    <footer>
        <div class="footer_block text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h5>@Localizer["events"]</h5>
                        <a href="@Url.Action("browse", "home", new { eventName = "sport" })" class="text-capitalize">@Localizer["sport"]</a>
                        <a href="@Url.Action("browse", "home", new { eventName = "concerts" })" class="text-capitalize">@Localizer["concerts"]</a>
                        <a href="@Url.Action("browse", "home", new { eventName = "movies" })" class="text-capitalize">@Localizer["movies"]</a>
                        <a href="@Url.Action("browse", "home", new { eventName = "theater" })" class="text-capitalize">@Localizer["theater"]</a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h5>@Localizer["follow us"]</h5>
                        <a href="#" class="text-capitalize">facebook</a>
                        <a href="#" class="text-capitalize">vk</a>
                        <a href="#" class="text-capitalize">twitter</a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h5>@Localizer["account"]</h5>
                        <a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["my account"]</a>
                    </div>
                </div>
                <div class="row">
                    <h6 class="text-capitalize">© 2017 @Localizer["author: andrey alexandrov"]</h6>
                </div>
                <div class="row">
                    <form id="selectLanguage" asp-controller="Home"
                          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                          method="post" role="form">
                        <select class="custom_select" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                        <button type="submit" class="lang_btn">@Localizer["save"]</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/bootpag/lib/jquery.bootpag.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/searchAPI.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"
                asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/bootpag/lib/jquery.bootpag.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/searchAPI.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
