﻿<div class="item_s_menu">
    <h4 class="text-capitalize">@Localizer["navigation"]</h4>
    <ul>
        <li><a href="@Url.Action("profile", "manage")" class="text-capitalize">@Localizer["profile"]</a></li>
        <li><a href="@Url.Action("mytickets", "manage")" class="text-capitalize">@Localizer["my tickets"]</a></li>
        <li><a href="@Url.Action("myorders", "manage")" class="text-capitalize">@Localizer["my orders"]</a></li>
        <li><a href="@Url.Action("ticketsarchive", "manage")" class="text-capitalize">@Localizer["tickets archive"]</a></li>
        <li><a href="@Url.Action("ordersarchive", "manage")" class="text-capitalize">@Localizer["orders archive"]</a></li>

        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
        {
            <li><hr /></li>
            <li><a href="@Url.Action("addrecord", "record")" class="text-capitalize">@Localizer["add record"]</a></li>
            <li><a href="@Url.Action("listcities", "city")" class="text-capitalize">@Localizer["list of cities"]</a></li>
            <li><a href="@Url.Action("addcity", "city")" class="text-capitalize">@Localizer["add city"]</a></li>
        }
    </ul>
</div>